<div class="text-center py-md-4">
  <h1 class="font-weight-thin mb-5">{{ 'Get Started' | translate }}!</h1>

  <div class="row mt-5">
    <div class="col-6" *ngFor="let task of steps">
      <div class="shadow-hover p-3 rounded text-center">
        <a [routerLink]="task.path">
          <figure class="task-figure">
            <img [src]="task.image" class="img-home" alt="" />
          </figure>
          <p>{{ task.title | translate }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
