@import "import";
@import "./../../pages/base/base.component.scss";

app-comingsoon {
  .container-app {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background: url("/assets/img/bg-yellow-geometric.jpg") no-repeat;
    background-size: cover;
  }

  .logo {
    position: absolute;
    margin-top: -100px;

    img {
      width: 850px;
    }
  }

  #comingsoon {
    min-width: 400px;
    text-align: center;
  }

  .clock {
    text-align: center;
    margin: 0 auto;
    width: 140px;
  }
}
