<div class="container-fluid container-app">
  <div class="logo">
    <img [src]="'assets/img/svg/comingsoon.svg'" />
  </div>
  <app-card>
    <app-card-body>
      <div id="comingsoon" *ngIf="site">
        <div class="text-heading-4 mb-4 mt-4">
          {{ 'Comingsoon' | translate }}!
        </div>
        <div class="title text-heading-6 mb-4">
          {{ site.comingSoonText | translate }}
        </div>
        <div class="clock">
          <img [src]="'assets/img/svg/clock.svg'" />
        </div>
        <div
          class="countdown text-heading2 mb-4 mt-4 text-bold"
          *ngIf="countDown"
        >
          <div class="row">
            <div class="col-md-3">
              {{ countDown.days }} {{ 'Days' | translate }}
            </div>
            <div class="col-md-3">
              {{ countDown.hours }} {{ 'Hours' | translate }}
            </div>
            <div class="col-md-3">
              {{ countDown.minutes }} {{ 'Minutes' | translate }}
            </div>
            <div class="col-md-3">
              {{ countDown.seconds }} {{ 'Seconds' | translate }}
            </div>
          </div>
        </div>
        <div class="content text-sm mb-4">
          {{ 'Release Date' | translate }}: <br />
          {{ site.comingSoonDate?.seconds * 1000 | date }}
          <span class="small">
            {{ site.comingSoonDate?.seconds * 1000 | date: 'hh:mm:ss a' }}
          </span>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
