@import "import";
@import "./../../../../pages/base/base.component.scss";

$page-title-header-padding: 1.5rem;

:host {
  display: block;
}

.header-body {
  padding-top: $page-title-header-padding;
  padding-bottom: $page-title-header-padding;

  &:not(.has-navigation) {
    border-bottom: 1px solid $border-color;
  }
}

.header-body.no-border {
  padding-top: $page-title-header-padding;
  padding-bottom: $page-title-header-padding;

  &:not(.has-navigation) {
    border-bottom: 0 !important;
  }
}

.pretitle {
  color: $gray-600;
  margin-bottom: 0.5rem;
}

.subtitle {
  margin-bottom: 0;
}

.subtitle {
  color: $gray-600;
}

.mb-space {
  margin-bottom: $page-title-header-padding;
}
