<div [ngStyle]="style" [ngClass]="styleClass" [class.mb-space]="mbSpace">
  <div class="container-fluid">
    <div
      class="header-body"
      [class.no-border]="noBorder"
      [class.has-navigation]="hasNavigation"
    >
      <div class="row gap-y align-items-center">
        <div class="col">
          <ng-container *ngIf="icon && icon.active">
            <div class="float-left mr-4 pointer" (click)="onBack()">
              <app-icon [icon]="icon.icon" [size]="icon.size"></app-icon>
            </div>
          </ng-container>
          <div>
            <h6 class="pretitle text-uppercase small" *ngIf="pre" translate>
              {{ globalService.recursiveObject(pre, value) | translate }}
            </h6>
            <h1 class="title h3" translate [ngClass]="{ 'mb-0': !sub }">
              {{ value?.name }}
              {{ globalService.recursiveObject(title, value) | translate }}
            </h1>
            <p class="subtitle mb-0" *ngIf="sub" translate>
              {{ globalService.recursiveObject(sub, value) | translate }}
            </p>
          </div>
          <ng-content select="[subtitle]"></ng-content>
        </div>

        <div #toolsView class="col-sm-12 col-md-auto" *ngIf="!toolsHidden">
          <ng-content select="[page-tools]"></ng-content>
        </div>
      </div>

      <div class="row align-items-center" *ngIf="hasNavigation">
        <div class="col">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
