<ng-container *ngIf="schema.state && !schema.state?.hide">
  <div class="form-group">
    <label
      *ngIf="label && label.active"
      class="control-label"
      [ngStyle]="label.style"
      [ngClass]="label.styleClass"
    >
      {{ global.recursiveObject(label, value) | translate }}
      <span *ngIf="required" class="text-danger">*</span>
      <small
        class="form-text text-muted"
        *ngIf="labelSubtitle && labelSubtitle.active"
        >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
      >
    </label>
    <ng-container *ngIf="append && append.position === 'left'">
      <div
        *ngTemplateOutlet="
          contentAppend;
          context: {
            icon: append.icon,
            text: append.text,
            button: append.button
          }
        "
      ></div>
    </ng-container>

    <ng-container *ngIf="type === 'inline'; else dateContent">
      <div *ngTemplateOutlet="inlineDateContent"></div>
    </ng-container>

    <ng-container *ngIf="append && append.position === 'right'">
      <div
        *ngTemplateOutlet="
          contentAppend;
          context: {
            icon: append.icon,
            text: append.text,
            button: append.button
          }
        "
      ></div>
    </ng-container>
    <ng-container *ngIf="formText">
      <small
        class="form-text text-success"
        *ngIf="formText.valid && formText.valid.active && !validationInput"
      >
        {{ formText.valid.text | translate }}</small
      >
      <small
        class="form-text text-danger"
        *ngIf="formText.invalid && formText.invalid.active && validationInput"
        >{{ formText.invalid.text | translate }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.info && formText.info.active"
        >{{ formText.info.text | translate }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
        [innerHTML]="formText.infoInnerHTML.text"
      ></small>
    </ng-container>
  </div>

  <ng-template
    #contentAppend
    let-icon="icon"
    let-text="text"
    let-button="button"
  >
    <span class="input-group-text" *ngIf="icon.active || text.active">
      <app-icon
        *ngIf="icon.active"
        class="icon"
        [icon]="icon.src"
        [size]="icon.size"
        [spin]="icon.spin"
        [pulse]="icon.pulse"
      >
      </app-icon>
      <span
        *ngIf="text.active"
        [ngStyle]="text.style"
        [ngClass]="text.styleClass"
      >
        {{ append.text | translate }}
      </span>
    </span>
    <span class="input-group-prepend" *ngIf="button.active">
      <button
        class="btn"
        [ngStyle]="button.style"
        [ngClass]="button.styleClass"
        type="button"
      >
        {{ button.text | translate }}
      </button>
    </span>
  </ng-template>
</ng-container>

<ng-template #dateContent>
  <ng-container *ngIf="!isRange">
    <input
      type="text"
      [attr.placeholder]="placeholder"
      class="form-control"
      bsDatepicker
      [ngStyle]="style"
      [ngClass]="styleClass"
      [class.is-valid]="
        formText && formText.valid && formText.valid.active && !validationInput
      "
      [class.is-invalid]="
        formText &&
        formText.invalid &&
        formText.invalid.active &&
        validationInput
      "
      [class.form-control-rounded]="roundedInput"
      [(ngModel)]="dateValue"
      (ngModelChange)="onChange($event)"
      [attr.placeholder]="placeholder"
      [attr.readonly]="readonly"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [bsValue]="dateValue"
      [datesDisabled]="disabledDates"
      [bsConfig]="{
        dateInputFormat: dateInputFormat,
        containerClass: styleClassDate
      }"
    />
  </ng-container>
  <ng-container *ngIf="isRange">
    <input
      type="text"
      [attr.placeholder]="placeholder"
      class="form-control"
      bsDaterangepicker
      [ngStyle]="style"
      [ngClass]="styleClass"
      [class.is-valid]="
        formText.valid && formText.valid.active && !validationInput
      "
      [class.is-invalid]="
        formText.invalid && formText.invalid.active && validationInput
      "
      [class.form-control-rounded]="roundedInput"
      [(ngModel)]="dateValue"
      (ngModelChange)="onChange($event)"
      [attr.placeholder]="placeholder"
      [attr.readonly]="readonly"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [bsValue]="dateValue"
      [datesDisabled]="disabledDates"
      [bsConfig]="{
        dateInputFormat: dateInputFormat,
        containerClass: styleClassDate
      }"
    />
  </ng-container>
</ng-template>

<ng-template #inlineDateContent>
  <ng-container *ngIf="!isRange">
    <div [ngStyle]="style" [ngClass]="styleClass">
      <bs-datepicker-inline
        [bsValue]="dateValue"
        [bsConfig]="{
          dateInputFormat: dateInputFormat,
          containerClass: styleClassDate
        }"
      ></bs-datepicker-inline>
    </div>
  </ng-container>

  <ng-container *ngIf="isRange">
    <div [ngStyle]="style" [ngClass]="styleClass">
      <bs-daterangepicker-inline
        [bsValue]="dateValue"
        [bsConfig]="{
          dateInputFormat: dateInputFormat,
          containerClass: styleClassDate
        }"
        class="d-block"
      ></bs-daterangepicker-inline>
    </div>
  </ng-container>
</ng-template>
