<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Add Goods' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-body" *ngIf="value.dataCategories">
            <component-select
              [schema]="schemaCategorySelect"
              [value]="value"
              (callback)="callbackCategory($event)"
            >
            </component-select>
          </div>

          <div class="form-body">
            <label class="control-label label-name">
              {{ 'Name' | translate }} <span class="text-danger">*</span>
            </label>
            <input
              class="form-control"
              [type]="'text'"
              [attr.placeholder]="'Input Name' | translate"
              [class.is-invalid]="
                form.get('name').invalid && form.get('name').touched
              "
              formControlName="name"
            />
            <div
              class="form-required"
              *ngIf="form.get('name').invalid && form.get('name').touched"
            >
              {{ 'Name is invalid' | translate }}
            </div>
          </div>

          <div class="form-body" *ngIf="value.dataUnits">
            <component-select
              [schema]="schemaUnitSelect"
              [value]="value"
              (callback)="callbackUnit($event)"
            >
            </component-select>
          </div>

          <div class="form-body">
            <label class="control-label label-description">
              {{ 'Description' | translate }}
            </label>
            <textarea
              class="form-control"
              [attr.placeholder]="'Input Description' | translate"
              [class.is-invalid]="
                form.get('description').invalid &&
                form.get('description').touched
              "
              formControlName="description"
            ></textarea>
            <div
              class="form-required"
              *ngIf="
                form.get('description').invalid &&
                form.get('description').touched
              "
            >
              {{ 'Description is invalid' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-body">
            <component-uploader
              [schema]="schemaUploader"
              [value]="value"
              (callbackActionStatic)="callbackUploaders($event)"
            ></component-uploader>
          </div>

          <div class="form-body">
            <label class="control-label label-price">
              {{ 'Price' | translate }} <span class="text-danger">*</span>
            </label>
            <input
              class="form-control"
              [type]="'text'"
              required="true"
              currencyMask
              [options]="{
                align: selectedBusiness.currency.align,
                precision: selectedBusiness.currency.precision,
                decimal: selectedBusiness.currency.decimal,
                prefix: selectedBusiness.currency.prefix,
                suffix: selectedBusiness.currency.suffix,
                thousands: selectedBusiness.currency.thousands,
                nullable: selectedBusiness.currency.nullable
              }"
              formControlName="price"
              [class.is-valid]="
                form.get('price').valid && form.get('price').touched
              "
              [class.is-invalid]="
                form.get('price').touched && form.get('price').value == 0
              "
            />

            <div
              class="form-required"
              *ngIf="form.get('price').touched && form.get('price').value == 0"
            >
              {{ 'Price is invalid' | translate }}
            </div>
          </div>

          <div class="form-body">
            <label class="control-label label-selling-price">
              {{ 'Selling Price' | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              class="form-control"
              [type]="'text'"
              required="true"
              currencyMask
              [options]="{
                align: selectedBusiness.currency.align,
                precision: selectedBusiness.currency.precision,
                decimal: selectedBusiness.currency.decimal,
                prefix: selectedBusiness.currency.prefix,
                suffix: selectedBusiness.currency.suffix,
                thousands: selectedBusiness.currency.thousands,
                nullable: selectedBusiness.currency.nullable
              }"
              formControlName="sellingPrice"
              [class.is-valid]="
                form.get('sellingPrice').valid &&
                form.get('sellingPrice').touched
              "
              [class.is-invalid]="
                form.get('sellingPrice').touched &&
                form.get('sellingPrice').value == 0
              "
            />

            <div
              class="form-required"
              *ngIf="
                form.get('sellingPrice').touched &&
                form.get('sellingPrice').value == 0
              "
            >
              {{ 'Selling Price is invalid' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-primary text-white"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Submit' | translate }}
  </button>
</div>
