@import "./../../../pages/base/base.component.scss";

.alert-body {
  margin-top: 15px;
  .message {
    color: white;
    font-size: 12px;
    app-icon {
      svg {
        fill: white;
        stroke: white;
      }
    }
  }
}

.register-logo {
  text-align: center;

  img {
    width: 200px;
  }
}

.register-welcome {
  text-align: center;
  margin-top: 30px;

  .header {
    font-size: 24px;
    font-weight: 600;
  }

  .subheader {
    font-size: 18px;
    margin-top: 10px;
  }
}
