<div class="register-logo">
  <img [src]="site.logo.downloadURL" />
</div>
<div class="register-welcome">
  <div class="header">
    {{ 'Register Account' | translate }}
  </div>
</div>

<div class="alert-body">
  <app-alert
    [scheme]="'danger'"
    [background]="'danger'"
    [style]="'outline'"
    [withIcon]="true"
    [icon]="'faInfo'"
    *ngIf="messageError"
  >
    <div class="message">{{ messageError | translate }}</div>
  </app-alert>
</div>

<ng-container *ngIf="step === 1">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="form-body">
        <label class="control-label label-email">
          {{ 'Email' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'email'"
          [attr.placeholder]="'Input your Email' | translate"
          [class.is-invalid]="
            form.get('email').invalid && form.get('email').touched
          "
          formControlName="email"
        />
        <div
          class="form-required"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
          {{ 'Email is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-password">
          {{ 'Password' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'password'"
          [attr.placeholder]="'Input your Password' | translate"
          [class.is-invalid]="
            form.get('password').invalid && form.get('password').touched
          "
          formControlName="password"
        />
        <div
          class="form-required"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
          {{ 'Password is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-repeat-password">
          {{ 'Repet Password' | translate }}
          <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'password'"
          [attr.placeholder]="'Input your Repeat Password' | translate"
          [class.is-invalid]="
            form.get('passwordRepeat').invalid &&
            form.get('passwordRepeat').touched
          "
          formControlName="passwordRepeat"
        />
        <div
          class="form-required"
          *ngIf="
            form.get('passwordRepeat').invalid &&
            form.get('passwordRepeat').touched
          "
        >
          {{ 'Repeat Password is invalid' | translate }}
        </div>
        <div
          class="form-required"
          *ngIf="
            form.get('password').value !== form.get('passwordRepeat').value &&
            form.get('password').touched &&
            form.get('passwordRepeat').touched
          "
        >
          {{ 'Passwords and Repeat Passwords are not the same!' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-full-name">
          {{ 'Full Name' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'text'"
          [attr.placeholder]="'Input your Full Name' | translate"
          [class.is-invalid]="
            form.get('displayName').invalid && form.get('displayName').touched
          "
          formControlName="displayName"
        />
        <div
          class="form-required"
          *ngIf="
            form.get('displayName').invalid && form.get('displayName').touched
          "
        >
          {{ 'Full Name is invalid' | translate }}
        </div>
      </div>
      <div class="form-body last">
        <label class="control-label label-phone-number">
          {{ 'Phone Number' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'text'"
          mask="00000000000000"
          [maxlength]="14"
          [attr.placeholder]="'Input your Phone Number' | translate"
          autocomplete="false"
          [class.is-invalid]="
            form.get('phoneNumber').invalid && form.get('phoneNumber').touched
          "
          [ngxPattern]="numbersOnly"
          formControlName="phoneNumber"
        />
        <div
          class="form-required"
          *ngIf="
            form.get('phoneNumber').invalid && form.get('phoneNumber').touched
          "
        >
          {{ 'Phone Number is invalid' | translate }}
        </div>
      </div>
    </div>
    <div class="container-button mt-3">
      <button
        class="btn btn-primary text-white width-full-p"
        [disabled]="
          form.invalid ||
          form.get('password').value !== form.get('passwordRepeat').value
        "
        (click)="registerNextStep()"
      >
        {{ 'Next' | translate }}
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="step === 2">
  <form [formGroup]="formAddressed">
    <div class="form-group">
      <div class="register-body">
        <component-maps
          [schema]="schemaMaps"
          [value]="value"
          (callbackActionStatic)="callbackMaps($event)"
        >
        </component-maps>
        <div class="mt-2">
          <label class="control-label label-token">
            {{ 'Address' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            class="form-control"
            [type]="'text'"
            [attr.placeholder]="'Input your Address' | translate"
            [class.is-invalid]="
              formAddressed.get('address').invalid &&
              formAddressed.get('address').touched
            "
            formControlName="address"
            readonly
          />
          <div
            class="form-required"
            *ngIf="
              formAddressed.get('address').invalid &&
              formAddressed.get('address').touched
            "
          >
            {{ 'Address is invalid' | translate }}
          </div>
        </div>
        <div class="mt-2">
          <label class="control-label label-token">
            {{ 'Address Detail' | translate }}
            <span class="text-danger">*</span>
          </label>
          <textarea
            class="form-control"
            [attr.placeholder]="'Input your Address Detail' | translate"
            [class.is-invalid]="
              formAddressed.get('addressDetail').invalid &&
              formAddressed.get('addressDetail').touched
            "
            formControlName="addressDetail"
          ></textarea>
          <div
            class="form-required"
            *ngIf="
              formAddressed.get('addressDetail').invalid &&
              formAddressed.get('addressDetail').touched
            "
          >
            {{ 'Address Detail is invalid' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-body last">
      <label class="control-label label-phone-number">
        {{ 'Country' | translate }} <span class="text-danger">*</span>
      </label>
      <component-select-country
        (callback)="callbackCountry($event)"
      ></component-select-country>
    </div>
    <div class="container-button mt-3">
      <button
        class="btn btn-primary text-white width-full-p"
        [disabled]="formAddressed.invalid"
        (click)="finish()"
      >
        {{ 'Sign Up' | translate }}
      </button>
      <button
        class="btn btn-secondary mt-2 width-full-p"
        (click)="registerBackStep()"
      >
        {{ 'Back' | translate }}
      </button>
    </div>
  </form>
</ng-container>

<div class="mt-3 mb-5">
  {{ 'Already have an Account' | translate }} ?
  <a href="javascript:;" (click)="signIn()"> {{ 'Sign In' | translate }}!</a>
</div>
