<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Edit Photo' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="form-group">
      <div class="form-body">
        <component-uploader
          [schema]="schemaUploader"
          [value]="value"
          (callbackActionStatic)="callbackUploaders($event)"
        ></component-uploader>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light mr-2" (click)="close()">
      {{ 'Close' | translate }}
    </button>
    <button
      class="btn btn-primary text-white"
      (click)="submit()"
      [disabled]="!form.get('photo').value"
    >
      <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
      {{ 'Submit' | translate }}
    </button>
  </div>
</form>
