<div class="container-fluid container-app">
  <div class="logo">
    <img [src]="'assets/img/svg/500.svg'" />
  </div>
  <app-card>
    <app-card-body>
      <div id="error-500">
        <div class="text-heading-1 mb-2">500</div>
        <div class="title text-lg mb-2">{{ '500_TITLE' | translate }}</div>
        <div class="content text-sm mb-4">{{ '500_CONTENT' | translate }}</div>

        <div class="button">
          <button class="btn btn-danger text-heading-7" (click)="back()">
            {{ '500_BUTTON' | translate }}
          </button>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
