@import "import";
@import "./../../pages/base/base.component.scss";

error-500 {
  .container-app {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  }

  .logo {
    position: absolute;

    img {
      width: 700px;
    }
  }

  #error-500 {
    text-align: center;
    min-width: 300px;
  }
}
