<app-card>
  <app-card-header [title]="title" [border]="false"></app-card-header>

  <app-card-body>
    <div class="row d-flex align-items-center mb-3">
      <div
        [ngClass]="
          percentActive
            ? 'col-md-8 col-sm-12 col-xs-12'
            : 'col-md-12 col-sm-12 col-xs-12'
        "
      >
        <h3 class="font-weight-light mb-0">
          {{ value }}
        </h3>
      </div>

      <div
        class="col-md-4 col-sm-12 col-xs-12 text-md-right"
        *ngIf="percentActive"
      >
        <span class="text-muted">{{ percent }}</span>
      </div>
    </div>

    <app-progress-solid [value]="percent" [color]="scheme"></app-progress-solid>
  </app-card-body>
</app-card>
