<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Edit Addressed' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="form-group">
      <div class="register-body">
        <component-maps
          [schema]="schemaMaps"
          [value]="value"
          (callbackActionStatic)="callbackMaps($event)"
        >
        </component-maps>
        <div class="mt-2">
          <label class="control-label label-token">
            {{ 'Address' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            class="form-control"
            [type]="'text'"
            [attr.placeholder]="'Input your Address' | translate"
            [class.is-invalid]="
              form.get('address').invalid && form.get('address').touched
            "
            formControlName="address"
            readonly
          />
          <div
            class="form-required"
            *ngIf="form.get('address').invalid && form.get('address').touched"
          >
            {{ 'Address is invalid' | translate }}
          </div>
        </div>
        <div class="mt-2">
          <label class="control-label label-token">
            {{ 'Address Detail' | translate }}
            <span class="text-danger">*</span>
          </label>
          <textarea
            class="form-control"
            [attr.placeholder]="'Input your Address Detail' | translate"
            [class.is-invalid]="
              form.get('addressDetail').invalid &&
              form.get('addressDetail').touched
            "
            formControlName="addressDetail"
          ></textarea>
          <div
            class="form-required"
            *ngIf="
              form.get('addressDetail').invalid &&
              form.get('addressDetail').touched
            "
          >
            {{ 'Address Detail is invalid' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-body last">
      <label class="control-label label-phone-number">
        {{ 'Country' | translate }} <span class="text-danger">*</span>
      </label>
      <component-select-country
        [value]="value.form.country"
        (callback)="callbackCountry($event)"
      ></component-select-country>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light mr-2" (click)="close()">
      {{ 'Close' | translate }}
    </button>
    <button
      class="btn btn-primary text-white"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
      {{ 'Submit' | translate }}
    </button>
  </div>
</form>
