<ng-container [ngSwitch]="layout">
  <app-vertical-layout-default
    [fixedSidenav]="fixedSideNav"
    [fixedHeader]="fixedHeader"
    [sidenavCollapsed]="sidenavCollapsed"
    [mobileCollapsed]="sidenavCollapsed"
    [class]="layout + '-layout'"
    *ngSwitchCase="Layouts.VerticalDefault"
  ></app-vertical-layout-default>

  <app-horizontal-layout-default
    [fixedHeader]="fixedHeader"
    *ngSwitchCase="Layouts.HorizontalDefault"
  ></app-horizontal-layout-default>
</ng-container>
