<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Settings',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'Accounting',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Financial Format Settings' | translate">
            </app-card-header>
            <app-card-body>
              <app-alert
                [scheme]="'success'"
                [background]="'success'"
                [style]="'outline'"
                [withIcon]="true"
                [icon]="'faMoneyBill'"
              >
                <div class="text-white sample" *ngIf="currency">
                  {{ 'Format Sample' | translate }}:
                  {{
                    '1000000'
                      | accounting
                        : currency.align
                        : currency.precision
                        : currency.decimal
                        : currency.prefix
                        : currency.suffix
                        : currency.thousands
                        : currency.nullable
                  }}
                </div>
              </app-alert>
              <div class="detail-image">
                <img [src]="'assets/img/money.png'" />
              </div>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Config Settings' | translate">
            </app-card-header>
            <app-card-body>
              <div class="config">{{ 'Config' | translate }}:</div>
              <div class="config-content" *ngIf="currency">
                <div class="align">
                  {{ 'Align' | translate }}: <b>{{ currency.align }}</b>
                </div>
                <div class="precision">
                  {{ 'Precision' | translate }}: <b>{{ currency.precision }}</b>
                </div>
                <div class="decimal">
                  {{ 'Decimal' | translate }}: <b>{{ currency.decimal }}</b>
                </div>
                <div class="prefix">
                  {{ 'Prefix' | translate }}: <b>{{ currency.prefix }}</b>
                </div>
                <div class="suffix">
                  {{ 'Suffix' | translate }}: <b>{{ currency.suffix }}</b>
                </div>
                <div class="thousands">
                  {{ 'Thousands' | translate }}: <b>{{ currency.thousands }}</b>
                </div>
                <div class="config-action">
                  <button
                    class="btn btn-primary text-white"
                    (click)="editAccounting(accounting)"
                  >
                    <app-icon
                      [icon]="'faMoneyBill'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Edit Format' | translate }}
                  </button>
                </div>
              </div>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
