@import "import";

@import "./../../../pages/base/base.component.scss";

.sample {
  color: white !important;
  font-size: 18px;
}

.config {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.config-content {
  .align,
  .decimal,
  .suffix {
    margin: 10px 0px;
  }
}

.config-action {
  text-align: center;
  margin-top: 10px;
}
