<div class="container-fluid container-app">
  <div class="logo">
    <img
      *ngIf="site && site.notFoundPhoto"
      [src]="site.notFoundPhoto.downloadURL"
    />
  </div>
  <app-card>
    <app-card-body>
      <div id="error-404">
        <ng-container *ngIf="site">
          <div class="text-heading-1 mb-2">404</div>
          <div class="title text-lg mb-2">
            {{ site.notFoundTitle | translate }}
          </div>
          <div class="content text-sm mb-4">
            {{ site.notFoundContent | translate }}
          </div>

          <div class="button">
            <button
              class="btn btn-primary text-white text-heading-7"
              (click)="back()"
            >
              {{ site.notFoundButtonTitle | translate }}
            </button>
          </div>
        </ng-container>
      </div>
    </app-card-body>
  </app-card>
</div>
