@import "import";
@import "./../../pages/base/base.component.scss";

app-error-404 {
  .container-app {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  }

  .logo {
    position: absolute;

    img {
      width: 800px;
    }
  }

  #error-404 {
    text-align: center;
  }
}
