@import "import";

:host {
  &.collapsed {
    .navbar {
      margin-left: 0;
    }
  }
}

.navbar {
  display: flex;
  align-items: flex-start;
  padding: 0;
  height: 100vh;
  width: $mz-sidenav-width;
  height: 100%;
  margin-left: -$mz-sidenav-width;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $white;
  z-index: 1;

  @include media-breakpoint-up($grid-float-breakpoint) {
    flex-direction: column;
    height: $mz-header-height;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 0;
    width: auto;
    position: relative;
    box-shadow: none;
  }
}

.navbar-collapse {
  height: calc(100% - #{$mz-header-height});
  overflow: auto;

  @include media-breakpoint-up($grid-float-breakpoint) {
    height: auto;
    overflow: visible;
  }
}

.dd-icon {
  margin-left: 1.5rem;
}

.sidenav-logo {
  height: $mz-header-height;
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 1rem;
  justify-content: space-between;
  width: 100%;

  .logo {
    height: $mz-sidenav-logo-max-height;
  }

  @include media-breakpoint-up($grid-float-breakpoint) {
    display: none;
  }
}

:host {
  // Opened Item
  &.open {
    > .nav-dropdown-items {
      display: block;
    }

    > .nav-link {
      background-color: $gray-100;
      color: $color-primary;
    }
  }

  // Top Level Navigation Item
  &.nav-header-item {
    > .nav-link {
      padding: 1.5rem 1rem;
      max-height: $mz-header-height;

      &.active,
      &:active,
      &:hover,
      &:visited {
        box-shadow: 0px -2px 0px 0px $color-primary inset;
        color: $color-primary;
      }
    }

    > .nav-dropdown-items {
      animation: menu-fade-in 0.3s ease 1, menu-move-up 0.3s ease-out 1;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;

  &.active {
    color: $color-primary;

    .icon {
      opacity: 1;
    }
  }
}

// Nested Items
.dropdown-item {
  padding: 0;

  .nav-link {
    padding: 0.75rem 1.75rem;
  }

  .nav-dropdown-items {
    animation: menu-fade-in 0.3s ease 1, menu-move-down 0.3s ease-out 1;
  }
}

.nav-dropdown-items {
  display: none;
  background-color: $white;

  @include media-breakpoint-up($grid-float-breakpoint) {
    position: absolute;
    min-width: 200px;
    box-shadow: $dropdown-box-shadow;
    border-radius: $border-radius;
    top: 0;
    left: 100%;

    &.level-1 {
      left: 0;
      top: 100%;
    }
  }

  @each $i in (1, 2, 3, 4, 5) {
    .nav-link-#{$i} {
      padding-left: 0.75rem * $i;

      @include media-breakpoint-up($grid-float-breakpoint) {
        padding-left: 1.75rem;
      }
    }
  }
}

// Icons
.dd-icon {
  margin-left: 1.5rem;
}

.icon {
  opacity: 0.65;
  font-size: 1rem;
  margin-left: 0;
  min-width: 20px;
  margin-right: 0.5rem;
}
