<div class="container-fluid">
  <nav class="navbar navbar-expand-md">
    <div class="sidenav-logo">
      <a class="sidenav-brand" href="javascript:;">
        <img
          src="{{
            site ? site.favicon.downloadURL : 'assets/img/logo-light.svg'
          }}"
          alt="Page Builder Console"
          class="logo"
        />
      </a>

      <app-menu-toggler
        class="sidenav-toggler"
        (click)="toggleSidenav()"
      ></app-menu-toggler>
    </div>

    <ng-container *ngIf="!navGroups">
      <ng-container *ngFor="let item of [0, 1, 2, 3, 4]">
        <a class="nav-link nav-link-1" href="javascript:;">
          <div class="nav-icon">
            <ngx-skeleton
              height="19px"
              width="150px"
              margin="0 0 15px 0"
            ></ngx-skeleton>
          </div>
        </a>
      </ng-container>
    </ng-container>

    <div class="navbar-collapse">
      <app-header-navbar-item
        class="nav-header-item"
        *ngFor="let option of navGroups"
        [option]="option"
        (onToggle)="option.open = $event"
        [level]="1"
      >
        <ng-container dropdown-icon>
          <app-dropdown-icon
            class="dd-icon d-none d-md-block"
          ></app-dropdown-icon>
          <app-dropdown-icon
            class="dd-icon d-block d-md-none"
            [open]="option.open"
          ></app-dropdown-icon>
        </ng-container>
      </app-header-navbar-item>
      <!-- No dropdowns -->
      <a
        (click)="logout()"
        *ngIf="navGroups"
        class="nav-link nav-link-1"
        href="javascript:;"
      >
        <div class="nav-icon">
          <app-icon [icon]="'faSignOutAlt'" class="icon"></app-icon>
          <span class="title">{{ 'Logout' | translate }}</span>
        </div>
      </a>
    </div>
  </nav>
</div>
