<div
  class="nav-item apps dropdown"
  dropdown
  placement="bottom right"
  (onOpenChange)="onOpenChange($event)"
>
  <app-nav-link
    class="dropdown-toggle"
    [class.text-dark]="!dark"
    [dark]="dark"
    dropdownToggle
  >
    <i-feather name="grid"></i-feather>
  </app-nav-link>

  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <div
      class="dropdown-heading d-flex align-items-center justify-content-between"
    >
      <h6 class="m-0 text-uppercase bold" translate>
        {{ 'My Apps' | translate }}
      </h6>
    </div>

    <div class="dropdown-body py-2 container">
      <a
        href="javascript:;"
        class="col-6"
        *ngFor="let app of apps"
        [routerLink]="app.path"
      >
        <div class="card border-0 rounded-0 shadow-box">
          <div class="card-body px-1 center-flex">
            <img [src]="app.image" class="mb-1 img-responsive" alt="" />
            <span class="small app-name" translate>{{
              app.title | translate
            }}</span>
          </div>
        </div>
      </a>
    </div>

    <div class="dropdown-footer text-center">
      <a href="javascript:;">
        <i-feather name="more-horizontal"></i-feather>
      </a>
    </div>
  </div>
</div>
