<form [formGroup]="form">
  <div class="form-group">
    <div class="login-logo">
      <img [src]="site.logo.downloadURL" />
    </div>
    <div class="login-welcome">
      <div class="header">
        {{ 'Welcome Back' | translate }}
      </div>
      <div class="subheader">
        {{ 'Please Login with your Account' | translate }}
      </div>
    </div>

    <ng-container *ngIf="messageError">
      <div class="alert-body">
        <app-alert
          [scheme]="'danger'"
          [background]="'danger'"
          [style]="'outline'"
          [withIcon]="true"
          [icon]="'faInfo'"
          *ngIf="messageError"
        >
          <div class="message">{{ messageError | translate }}</div>
        </app-alert>
      </div>
    </ng-container>

    <div class="form-group">
      <div class="form-body mt-2">
        <label class="control-label label-email">
          {{ 'Email' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'email'"
          [attr.placeholder]="'Input your Email' | translate"
          [class.is-invalid]="
            form.get('email').invalid && form.get('email').touched
          "
          formControlName="email"
        />
        <div
          class="form-required"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
          {{ 'Email is invalid' | translate }}
        </div>
      </div>
      <div class="form-body mt-2">
        <label class="control-label label-password">
          {{ 'Password' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'password'"
          [attr.placeholder]="'Input your Password' | translate"
          [class.is-invalid]="
            form.get('password').invalid && form.get('password').touched
          "
          formControlName="password"
        />
      </div>
    </div>
  </div>

  <div class="container-button mt-3">
    <div class="flex justify-content-space-between">
      <div class="flex justify-content-space-between align-items-center">
        <input
          class="form-control login-remember-me flex align-items-center"
          formControlName="rememberMe"
          type="checkbox"
        />
        {{ 'Remember Me' | translate }}
      </div>
      <div class="flex align-items-center">
        <a href="javascript:;" (click)="forgotPassword()">
          {{ 'Forgot Password?' | translate }}
        </a>
      </div>
    </div>
    <button
      class="btn btn-primary text-white width-full-p mt-3"
      [disabled]="form.invalid"
      (click)="onLogin()"
    >
      {{ 'Sign In' | translate }}
    </button>
  </div>
  <div class="mt-3 mb-5">
    {{ 'Don`t have an xl account?' | translate }}
    <a href="javascript:;" (click)="signUp()">
      {{ 'Sign up now' | translate }}!</a
    >
  </div>
</form>
