@import "./../../../pages/base/base.component.scss";

.alert-body {
  margin-top: 15px;
  .message {
    color: white;
    font-size: 12px;
    app-icon {
      svg {
        fill: white;
        stroke: white;
      }
    }
  }
}

.login-logo {
  text-align: center;
  img {
    width: 200px;
  }
}

.login-welcome {
  text-align: center;
  margin-top: 30px;
  .header {
    font-size: 24px;
    font-weight: 600;
  }

  .subheader {
    font-size: 18px;
    margin-top: 10px;
  }
}

.login-body {
  margin-top: 20px;
}

.login-body-password {
  margin-top: 10px;
}

.login-body-email {
  margin-top: 0px;
}

.login-remember-me {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.signup-flex {
  margin-top: 10px;
}
