<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Master',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'Purchaser',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row" *ngIf="search">
      <div class="col-md-12">
        <app-card>
          <app-card-header [title]="'Filter' | translate"> </app-card-header>
          <app-card-body>
            <div class="form-search">
              <div class="row">
                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-name">
                    {{ 'By Name' | translate }}
                  </label>
                  <input
                    class="form-control"
                    #inputSearch="ngModel"
                    [type]="'text'"
                    minLength="1"
                    placeholder="{{ 'Search...' | translate }}"
                    [(ngModel)]="search.name"
                    (ngModelChange)="onChangeSearch('name', $event)"
                  />
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-phone-number">
                    {{ 'By Phone Number' | translate }}
                  </label>
                  <input
                    class="form-control"
                    #inputSearch="ngModel"
                    [type]="'text'"
                    minLength="1"
                    placeholder="{{ 'Search...' | translate }}"
                    [(ngModel)]="search.phoneNumber"
                    (ngModelChange)="onChangeSearch('phoneNumber', $event)"
                  />
                </div>
                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-phone-number">
                    {{ 'By Address' | translate }}
                  </label>
                  <input
                    class="form-control"
                    #inputSearch="ngModel"
                    [type]="'text'"
                    minLength="1"
                    placeholder="{{ 'Search...' | translate }}"
                    [(ngModel)]="search.address"
                    (ngModelChange)="onChangeSearch('address', $event)"
                  />
                </div>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="selectedActive ? 'col-md-8 col-xl-9' : 'col-md-12'">
        <ng-container *ngIf="isCard; else tableContent">
          <app-card>
            <app-card-header [title]="'Purchaser' | translate">
              <div card-tools>
                <button
                  class="btn btn-primary text-white"
                  (click)="addPurchaser()"
                >
                  <app-icon
                    [icon]="'faPlus'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  {{ 'Add Purchaser' | translate }}
                </button>
              </div>
            </app-card-header>
            <app-card-body>
              <ng-container *ngTemplateOutlet="tableContent"></ng-container>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <ng-container *ngIf="selectedActive"> </ng-container>
    </div>
  </div>
</div>

<ng-template #tableContent>
  <ng-container *ngIf="data; else loadingList">
    <ngx-datatable
      class="ngx-datatable {{ currentStyles }}"
      [messages]="messages"
      [ngClass]="{
        listview: !isTableView,
        table: isTableView,
        'collapsed-list': isListCollapsed
      }"
      [class.responsive]="responsive"
      [class.expandable]="responsiveExpandable"
      [rows]="data"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="headerHeight"
      [rowHeight]="rowHeight"
      [footerHeight]="footerHeight"
      [scrollbarV]="scrollbarV"
      [scrollbarH]="scrollbarH"
      [limit]="limit"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="selectAllRowsOnPage"
      (select)="onSelect($event)"
      (onPage)="onPage($event)"
    >
      <ngx-datatable-column
        *ngFor="let column of columns"
        [name]="column.header | translate"
        [prop]="column.name"
        [width]="column.width ? column.width : 'auto'"
        [sortable]="column.sortable"
        [canAutoResize]="column.canAutoResize"
        [draggable]="column.draggable"
        [resizeable]="column.resizeable"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-branch="row"
          let-item="value"
          ngx-datatable-cell-template
        >
          <ng-container *ngIf="column.name === 'index'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ rowIndex + 1 }}
          </ng-container>
          <ng-container
            *ngIf="column.name === 'phoneNumber' || column.name === 'name'"
          >
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ item }}
          </ng-container>
          <ng-container *ngIf="column.name === 'address'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ item }} <br />
            <b>{{ 'Detail Address' | translate }}</b
            >:<br />
            {{ branch.addressDetail }}
          </ng-container>
          <ng-container
            *ngIf="column.name === 'created' || column.name === 'updated'"
          >
            <div>
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
            </div>
            <span *ngIf="item && item.constructor.name === 'Object'">
              <ng-container
                *ngTemplateOutlet="isToSeconds; context: { itemData: item }"
              ></ng-container>
            </span>
            <span *ngIf="item && item.constructor.name != 'Object'">
              <ng-container
                *ngTemplateOutlet="isToDate; context: { itemData: item }"
              ></ng-container>
            </span>
            <span *ngIf="!item">{{ 'Loading' | translate }}...</span>
          </ng-container>
          <ng-container *ngIf="column.name === 'action'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            <div class="flex">
              <button
                class="btn btn-primary text-white mr-2"
                (click)="detailPurchaser(branch)"
              >
                <app-icon [icon]="'faEye'" [size]="'md'"></app-icon>
              </button>
              <button
                class="btn btn-primary text-white mr-2"
                (click)="editPurchaser(branch)"
              >
                <app-icon [icon]="'faPencilAlt'" [size]="'md'"></app-icon>
              </button>
              <button class="btn btn-danger" (click)="deletePurchaser(branch)">
                <app-icon [icon]="'faTrashAlt'" [size]="'md'"></app-icon>
              </button>
            </div>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer *ngIf="pagination.active">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div class="page-count">
            <span *ngIf="selectedMessage">
              {{ selectedCount.toLocaleString() | translate }}
              {{ selectedMessage | translate }} /
            </span>
            {{ rowCount.toLocaleString() | translate }}
            {{ pagination.labelTotalMessage | translate }}
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </ng-container>

  <ng-template #loadingList>
    <app-loader
      [template]="'list'"
      [isLoading]="isLoading"
      [count]="4"
    ></app-loader>
  </ng-template>
</ng-template>

<ng-template #isToSeconds let-itemData="itemData">
  <ng-container *ngIf="itemData?.seconds">
    {{ itemData?.seconds * 1000 | date }} <br />
    <span class="small">
      {{ itemData?.seconds * 1000 | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
</ng-template>
<ng-template #isToDate let-itemData="itemData">
  <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
    {{ itemData?.toDate() | date }} <br />
    <span class="small">
      {{ itemData?.toDate() | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
  <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
    <ng-container
      *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
    ></ng-container>
  </ng-container>
</ng-template>
