@import "./../../../base/base.component.scss";

.table-modal {
  background: rgb(241, 241, 241);
}

.total-goods {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.total-price {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: rgb(43, 114, 75);
  margin-bottom: 20px;
}

.total-info {
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(114, 43, 43);
}

.supplier-title {
  font-size: 14px;
  color: rgb(70, 117, 187);
  font-weight: 600;
}

.integrate {
  margin-bottom: 10px;
  color: rgb(43, 114, 75);
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.account-name {
  margin-bottom: 20px;
}
