<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Edit Warehouse' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <div class="form-group">
    <label class="control-label label-warehouse-code">
      {{ 'Warehouse Code' | translate }} <span class="text-danger">*</span>
    </label>

    <input
      class="form-control"
      #inputCode="ngModel"
      [type]="'text'"
      minLength="1"
      required="true"
      placeholder="{{ 'Input Warehouse Code' | translate }}"
      [(ngModel)]="code"
      readonly
      (ngModelChange)="onChangeWarehouse($event)"
      [class.is-valid]="code && inputCode.touched"
      [class.is-invalid]="!code && inputCode.touched"
    />

    <div class="form-required" *ngIf="!code && inputCode.touched">
      {{ 'Warehouse Code is invalid' | translate }}
    </div>

    <label class="control-label label-warehouse-name mt-2">
      {{ 'Warehouse Name' | translate }} <span class="text-danger">*</span>
    </label>

    <input
      class="form-control"
      #inputName="ngModel"
      [type]="'text'"
      minLength="1"
      required="true"
      placeholder="{{ 'Input Warehouse Name' | translate }}"
      [(ngModel)]="name"
      (ngModelChange)="onChangeWarehouse($event)"
      [class.is-valid]="name && inputName.touched"
      [class.is-invalid]="!name && inputName.touched"
    />

    <div class="form-required" *ngIf="!name && inputName.touched">
      {{ 'Warehouse Name is invalid' | translate }}
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-primary text-white"
    (click)="submit()"
    [disabled]="!name"
  >
    <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Submit' | translate }}
  </button>
</div>
