<!-- No dropdowns -->
<a
  *ngIf="!option.items; else dropDownItems"
  [routerLink]="option.link"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link nav-link-{{ level }}"
  [target]="option.target || '_self'"
>
  <div class="nav-icon">
    <app-icon *ngIf="option.icon" [icon]="option.icon" class="icon"></app-icon>
    <!-- <b class="icon extra-bold" *ngIf="option.icon">{{ option.icon.letter }}</b> -->
  </div>

  <span class="title">{{ option.title | translate }}</span>
</a>

<!-- Has dropdown -->
<ng-template #dropDownItems>
  <a href="javascript:;" class="nav-link nav-link-{{ level }}">
    <div class="nav-icon mr-2" *ngIf="option.icon">
      <app-icon
        *ngIf="option.icon"
        [icon]="option.icon"
        class="icon"
      ></app-icon>
      <!-- <b class="icon extra-bold" *ngIf="option.icon">{{ option.icon }}</b> -->
    </div>

    <span class="title">{{ option.title | translate }}</span>

    <span class="toggle ml-auto">
      <ng-content select="[dropdown-icon]"></ng-content>
    </span>
  </a>

  <nav class="nav-dropdown-items level-{{ level }}">
    <app-header-navbar-item
      *ngFor="let item of option.items"
      [option]="item"
      [level]="level + 1"
      (onToggle)="item.open = $event"
      class="dropdown-item"
    >
      <ng-container dropdown-icon>
        <app-icon
          [icon]="angleRight"
          class="dd-icon d-none d-md-block"
        ></app-icon>
        <app-dropdown-icon
          class="dd-icon d-block d-md-none"
          [open]="item.open"
        ></app-dropdown-icon>
      </ng-container>
    </app-header-navbar-item>
  </nav>
</ng-template>
