@import "import";

:host {
  height: 100%;
  min-height: 100vh;
  display: flex;

  &.fixed-header {
    .main-body {
      padding-top: $mz-header-height;

      @include media-breakpoint-up($grid-float-breakpoint) {
        padding-top: $mz-header-height * 2;
      }
    }
  }
}

.scrolltop-button {
  bottom: 40px !important;
}

.trial-period-container {
  margin: 20px 20px;
  padding: 20px;
  background: #fff000;
  display: flex;
  justify-content: space-between;

  .trial-period-action {
    font-weight: 600;
    cursor: pointer;

    app-icon {
      margin-left: 10px;
    }
  }
}
