<app-main-body
  [ngClass]="{
    'quick-sidenav-expanded': !isQuickSidenavCollapsed
  }"
>
  <app-loading
    *ngIf="loading"
    [isLoading]="loading.isLoading"
    [text]="loading.text"
    [primaryColour]="loading.primaryColour"
    [secondaryColour]="loading.secondaryColour"
    [animation]="loading.animation"
    [image]="loading.image"
  ></app-loading>

  <app-header [fixed]="fixedHeader">
    <app-header-toolbar
      branded="true"
      dark="true"
      [quickSidenavCollapsed]="isQuickSidenavCollapsed"
      (quickSidenavToggled)="onQuickSidenavToggled($event)"
      [sidenavCollapsed]="isSidenavCollapsed"
      (sidenavToggled)="onSidenavToggled($event)"
    ></app-header-toolbar>

    <app-header-navbar
      [sidenavCollapsed]="isSidenavCollapsed"
      (sideNavToggled)="onSidenavToggled($event)"
    >
    </app-header-navbar>
  </app-header>

  <main class="body-wrapper overflow-hidden">
    <router-outlet></router-outlet>
    <ngx-scrolltop
      *ngIf="layout.scrollToTop.active"
      [size]="40"
      [backgroundColor]="layout.scrollToTop.background"
      symbolColor="#fff"
      symbol="↑"
      mode="classic"
      position="left"
    >
    </ngx-scrolltop>
  </main>

  <app-footer></app-footer>
</app-main-body>

<!-- <app-quick-sidenav [collapsed]="isQuickSidenavCollapsed"></app-quick-sidenav> -->

<app-page-overlay
  *ngIf="!isQuickSidenavCollapsed"
  class="quick-sidenav-overlay"
>
  <fa-icon
    [icon]="closeIcon"
    class="close"
    (click)="onQuickSidenavToggled(true)"
  ></fa-icon>
</app-page-overlay>
