@import "import";

.text-heading-7 {
  font-size: 10px !important;
}

.text-heading-6 {
  font-size: 18px !important;
}

.text-heading-5 {
  font-size: 24px !important;
}

.text-heading-4 {
  font-size: 32px !important;
}

.text-heading-3 {
  font-size: 42px !important;
}

.text-heading-2 {
  font-size: 52px !important;
}

.text-heading-1 {
  font-size: 60px !important;
}

.text-md {
  font-size: 12px !important;
}

.text-light {
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.width-full-p {
  width: 100% !important;
}

.height-40vh {
  height: 40vh;
}

.height-70vh {
  height: 70vh;
}

.height-80vh {
  height: 80vh;
}

.height-100vh {
  height: 100vh;
}

.h-400px {
  height: 400px;
}

.h-600px {
  height: 600px;
}

.bg-black {
  background-color: black;
}

.toast-info {
  .toast-title {
    color: #0b5289 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #0b5289 !important;
    }
  }

  .toast-message {
    color: #1269ac !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #0b5289 !important;
  }
}

.toast-success {
  .toast-title {
    color: #0b7675 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #0b7675 !important;
    }
  }

  .toast-message {
    color: #18a09e !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #0b7675 !important;
  }
}

.toast-warning {
  .toast-title {
    color: #8f6d4c !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #8f6d4c !important;
    }
  }

  .toast-message {
    color: #b3885d !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #8f6d4c !important;
  }
}

.toast-error {
  .toast-title {
    color: #8a2a45 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #8a2a45 !important;
    }
  }

  .toast-message {
    color: #a73153 !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #8a2a45 !important;
  }
}

.display-relative {
  display: relative !important;
}

.display-hidden {
  display: hidden !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-left {
  justify-content: left;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-normal {
  justify-content: normal;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-left {
  align-content: left;
}

.align-content-right {
  align-content: right;
}

.align-content-normal {
  align-content: normal;
}

.align-content-start {
  align-content: start;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-between {
  align-content: space-between;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-left {
  align-self: left;
}

.align-self-right {
  align-self: right;
}

.align-self-normal {
  align-self: normal;
}

.align-self-start {
  align-self: start;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-space-around {
  align-self: space-around;
}

.align-self-space-between {
  align-self: space-between;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: end;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-normal {
  align-items: normal;
}

.align-items-self-end {
  align-items: self-end;
}

.align-items-self-start {
  align-items: self-start;
}

.align-items-start {
  align-items: start;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-items-baseline {
  justify-items: baseline;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.justify-items-normal {
  justify-items: normal;
}

.justify-items-self-end {
  justify-items: self-end;
}

.justify-items-self-start {
  justify-items: self-start;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-stretch {
  justify-items: stretch;
}

.flex {
  display: flex;
}

.alert {
  margin-bottom: 0 !important;
}

.text-italic {
  font-style: italic !important;
}

.dropZoneColor {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.12);
}

.dropZoneColorDrag {
  border: 3px dotted rgba(0, 0, 0, 0.28);
  background-color: grey;
}

.dropZoneColorDrop {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.12);
}

.image-table {
  width: 60px;
  height: 60px;
}

.border-full {
  border: 1px solid #eee;
}

.border-bottom-single {
  border-bottom: 1px solid #eee;
}

.image-responsive {
  width: 100%;
}

.image-standard {
  width: 200px;
  height: 200px;
}

.image-full {
  width: 100%;
}

.border-radius-standard {
  border-radius: 0.5rem;
}

.image-circle {
  border-radius: 100%;
}

.pointer {
  cursor: pointer;
}

.flex-10 {
  flex: 10%;
}

.flex-20 {
  flex: 20%;
}

.flex-30 {
  flex: 30%;
}

.flex-40 {
  flex: 40%;
}

.flex-50 {
  flex: 50%;
}

.flex-60 {
  flex: 60%;
}

.flex-70 {
  flex: 70%;
}

.flex-80 {
  flex: 80%;
}

.flex-90 {
  flex: 90%;
}

.bg-gray {
  background-color: #f1f4f8 !important;
}

.height-150-px {
  height: 150px;
}

.height-200-px {
  height: 200px;
}

.bg-abstract-memphis {
  background-repeat: no-repeat;
  background-size: cover;
}

.border-title {
  border-bottom: 2px solid $color-dark;
}

.standard-images-4 {
  width: 100px;
  height: 100px;
}

.standard-images-3 {
  width: 200px;
  height: 200px;
}

.standard-images-2 {
  width: 300px;
  height: 300px;
}

.image-margin-auto {
  margin: 0 auto;
}

.min-height-40 {
  min-height: 40px;
}

.min-height-75 {
  min-height: 75px;
}

.min-height-100 {
  min-height: 100px;
}

.min-mt-100 {
  margin-top: -100px;
}

.min-mt-150 {
  margin-top: -150px;
}

.min-height-600 {
  min-height: 600px;
}

.bg-gradient-blue {
  overflow: hidden;
  background: #50a0d7;
  background: -moz-linear-gradient(left, #50a0d7 0%, #297eb8 50%, #185278 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #50a0d7),
    color-stop(50%, #297eb8),
    color-stop(100%, #185278)
  );
  background: -webkit-linear-gradient(
    left,
    #50a0d7 0%,
    #297eb8 50%,
    #185278 100%
  );
  background: -o-linear-gradient(left, #50a0d7 0%, #297eb8 50%, #185278 100%);
  background: -ms-linear-gradient(left, #50a0d7 0%, #297eb8 50%, #185278 100%);
  background: linear-gradient(to right, #50a0d7 0%, #297eb8 50%, #185278 100%);
  position: relative;
  width: 100%;
  height: 500px;
}

.wave {
  position: absolute !important;
  top: 550px !important;
  width: 100% !important;
}

.wave-center {
  position: absolute !important;
  top: 200px !important;
  width: 110% !important;
  left: -100px;
}

.wave-left {
  position: absolute !important;
  top: 220px !important;
  width: 600px !important;
  left: -100px;
}

.wave-top-right {
  position: absolute !important;
  top: -100px !important;
  width: 600px !important;
  right: -100px;
}

.custom.is-invalid {
  padding: 3px;
  border: 1px solid #f5365c;
  opacity: 0.8;
  border-radius: 6px;
}

.custom.is-valid {
  padding: 3px;
  border: 1px solid #2867b2;
  opacity: 0.8;
  border-radius: 6px;
}

.no-padding {
  padding: 0px !important;
}

.form-required {
  margin-top: 5px;
  color: #f5365c;
  font-size: 10px;
}

.control-sublabel {
  margin-bottom: 5px;
}

.modal-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 600;
}

.modal-footer {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.modal-body {
  padding: 20px 20px 10px 20px;
}

.form-body {
  margin-bottom: 10px;
}

.form-body.last {
  margin-bottom: 0px !important;
}

.form-search {
  margin-bottom: 20px;
}

.image-table {
  img {
    width: 60px;
    height: 60px;
  }
}

.detail-image-avatar {
  text-align: center;

  img {
    width: 200px;
    border-radius: 100%;
    border: 1px solid rgb(209, 209, 209);
  }
}

.detail-image {
  text-align: center;

  img {
    width: 200px;
  }
}

mv-slider {
  .slider.slider-horizontal {
    width: 100% !important;
    .slider-selection {
      background: rgb(105, 184, 135) !important;
    }
    .slider-handle {
      background: rgb(24, 134, 67) !important;
    }
  }
}

.description-content-table {
  .description-table {
    font-size: 12px;
  }
}

.report-body {
  .report-image {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .report-action {
    text-align: center;
    margin-top: 12px;
  }
}
.ng-select.ng-select-single .ng-select-container {
  height: 38px !important;
}

.select-warehouse {
  padding: 10px 30px;
}

.field-danger {
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgb(134, 24, 24);
  color: white;
}

.field-success {
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgb(24, 134, 67);
  color: white;
}

.modal,
.modal-scroll,
.modal-open {
  overflow-y: auto !important;
}

.standard-checkbox {
  width: 20px !important;
  height: 20px !important;
}

.total-standard-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.total-standard {
  text-align: center;
  font-size: 24px;
  color: #000;

  span {
    color: white;
    font-weight: 600;
  }
}
