@import "../../pages/base/base.component.scss";

.maps-sm {
  agm-map {
    width: 100%;
    height: 150px;
  }
}

.maps-md {
  agm-map {
    width: 100%;
    height: 300px;
  }
}

.maps-lg {
  agm-map {
    width: 100%;
    height: 450px;
  }
}

.maps-xl {
  agm-map {
    width: 100%;
    height: 600px;
  }
}

.pac-container {
  z-index: 10000 !important;
}
