<div class="form-group">
  <label
    *ngIf="label && label.active"
    class="control-label"
    [ngStyle]="label.style"
    [ngClass]="label.styleClass"
  >
    {{ global.recursiveObject(label, value) | translate }}
    <span *ngIf="required" class="text-danger">*</span>
    <small
      class="form-text text-muted"
      *ngIf="labelSubtitle && labelSubtitle.active"
      >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
    >
  </label>
  <ng-container *ngIf="search.active">
    <input
      class="form-control"
      (keydown.enter)="$event.preventDefault()"
      tyoe="text"
      name="name"
      #searchLocationAutoComplete
      autocorrect="off"
      autocapitalize="false"
      spellcheck="false"
      [formControl]="searchLocation"
    />
  </ng-container>
</div>

<div [ngStyle]="style" [ngClass]="styleClass">
  <agm-map
    [zoom]="zoom"
    [minZoom]="minZoon"
    [maxZoom]="maxZoom"
    [latitude]="value[parentBinding][latitude]"
    [longitude]="value[parentBinding][longitude]"
    (mapClick)="mapClick($event)"
  >
    <agm-marker
      [latitude]="value[parentBinding][latitude]"
      [longitude]="value[parentBinding][longitude]"
    ></agm-marker>
  </agm-map>
</div>
