@import "./../../../base/base.component.scss";

.detail-content {
  .name {
    margin-bottom: 20px;
    margin-bottom: 10px;
  }

  .category {
    margin-top: 18px;
  }

  .unit {
    margin-top: 18px;
  }

  .price {
    margin-top: 18px;
  }

  .selling-price {
    margin-top: 18px;
  }
}

.detail-image {
  margin-bottom: 15px;
  img {
  }
}

.barcode-detail {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #eee;
  .text {
    font-size: 14px;
  }
}
