<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Detail Goods' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-body text-center">
          <div class="detail-image mb-2">
            <img [src]="formData.image.downloadURL" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <div class="form-group">
        <div class="form-body">
          <div class="detail-content">
            <div class="name">
              {{ 'Name' | translate }}: <b>{{ formData.name }}</b>
            </div>
            <div class="desc">
              {{ 'Description' | translate }}: <b>{{ formData.description }}</b>
            </div>
            <div class="category">
              {{ 'Category' | translate }}:
              <b>{{ formData.categories.name }}</b>
            </div>
            <div class="unit">
              {{ 'Unit' | translate }}:
              <b>{{ formData.units.name }}</b>
            </div>
            <div class="price">
              {{ 'Price' | translate }}:
              <b>{{
                formData.price
                  | accounting
                    : selectedBusiness.currency.align
                    : selectedBusiness.currency.precision
                    : selectedBusiness.currency.decimal
                    : selectedBusiness.currency.prefix
                    : selectedBusiness.currency.suffix
                    : selectedBusiness.currency.thousands
                    : selectedBusiness.currency.nullable
              }}</b>
            </div>
            <div class="selling-price">
              {{ 'Selling Price' | translate }}:
              <b>{{
                formData.sellingPrice
                  | accounting
                    : selectedBusiness.currency.align
                    : selectedBusiness.currency.precision
                    : selectedBusiness.currency.decimal
                    : selectedBusiness.currency.prefix
                    : selectedBusiness.currency.suffix
                    : selectedBusiness.currency.thousands
                    : selectedBusiness.currency.nullable
              }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="close()">
    {{ 'Close' | translate }}
  </button>
</div>
