@import "./../../../base/base.component.scss";

.detail-content {
  .name {
    margin-bottom: 20px;
    margin-bottom: 10px;
  }

  .address {
    margin-top: 18px;
  }

  .addressed {
    margin-top: 12px;
  }

  .addressed-title {
    font-size: 14px;
    color: rgb(70, 117, 187);
    font-weight: 600;
  }
}
