@import "import";

@import "./../../../pages/base/base.component.scss";

.remaining-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.remaining {
  text-align: center;
  font-size: 24px;
  color: #000;
  span {
    color: white;
    font-weight: 600;
  }
}

.paid-danger {
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgb(134, 24, 24);
  color: white;
}

.paid-success {
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgb(24, 134, 67);
  color: white;
}
