<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Reporting',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'In Stock',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="row select-warehouse">
    <div class="col-md-3 col-sm-6 mb-2" *ngIf="value.dataWarehouse">
      <component-select
        [schema]="schemaWarehouseSelect"
        [value]="value"
        (callback)="callbackWarehouse($event)"
      >
      </component-select>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row" *ngIf="search">
      <div class="col-md-12">
        <app-card>
          <app-card-header [title]="'Filter' | translate"> </app-card-header>
          <app-card-body>
            <div class="form-search">
              <div class="row">
                <div class="col-md-3 col-sm-6 mb-2" *ngIf="value.dataSuppliers">
                  <component-select
                    [schema]="schemaSupplierSelect"
                    [value]="value"
                    (callback)="callbackSupplier($event)"
                  >
                  </component-select>
                </div>

                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-date">
                    {{ 'By Date' | translate }}
                  </label>
                  <select
                    class="form-control"
                    [(ngModel)]="search.typeDate"
                    (ngModelChange)="onChangeSearch('typeDate', $event)"
                    #inputSearchTypeDate="ngModel"
                  >
                    <option value="All">{{ 'All' | translate }}</option>
                    <option value="Range">{{ 'Range' | translate }}</option>
                  </select>
                </div>
                <div
                  class="col-md-3 col-sm-6 mb-2"
                  *ngIf="search.typeDate === 'Range'"
                >
                  <label class="control-label label-range-date">
                    {{ 'Start Date - End Date' | translate }}
                  </label>

                  <input
                    [type]="'text'"
                    class="form-control"
                    #inputSearchRangeDate="ngModel"
                    [(ngModel)]="search.rangeDate"
                    bsDaterangepicker
                    (ngModelChange)="onChangeSearch('dateRange', $event)"
                  />
                </div>

                <div class="col-md-6 col-sm-6 mb-2">
                  <label class="control-label label-type">
                    {{ 'By Price' | translate }}
                  </label>
                  <div class="">
                    <mv-slider
                      *ngIf="
                        search.rangeBalance && search.rangeBalance.length > 0
                      "
                      [(value)]="search.rangeBalanceItem"
                      [min]="minBalanceRange"
                      [max]="maxBalanceRange"
                      [enabled]="true"
                      [range]="true"
                      (change)="onChangeSearch('rangeBalance', $event)"
                    ></mv-slider>
                    <div
                      *ngIf="
                        search.rangeBalance && search.rangeBalance.length > 0
                      "
                      class="flex justify-content-space-between"
                    >
                      <div class="">
                        {{
                          search.rangeBalance[0]
                            | accounting
                              : selectedBusiness.currency.align
                              : selectedBusiness.currency.precision
                              : selectedBusiness.currency.decimal
                              : selectedBusiness.currency.prefix
                              : selectedBusiness.currency.suffix
                              : selectedBusiness.currency.thousands
                              : selectedBusiness.currency.nullable
                        }}
                      </div>
                      <div class="">
                        {{
                          search.rangeBalance[1]
                            | accounting
                              : selectedBusiness.currency.align
                              : selectedBusiness.currency.precision
                              : selectedBusiness.currency.decimal
                              : selectedBusiness.currency.prefix
                              : selectedBusiness.currency.suffix
                              : selectedBusiness.currency.thousands
                              : selectedBusiness.currency.nullable
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="'col-md-3'">
        <app-card>
          <app-card-body>
            <div class="report-body">
              <div class="report-image">
                <img [src]="'assets/img/pdf.png'" />
              </div>
              <div class="report-action">
                <button
                  [disabled]="!flag.load"
                  class="btn btn-primary"
                  (click)="fileAction('pdf', 'open')"
                >
                  <app-icon
                    [icon]="'faFolderOpen'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  <ng-container *ngIf="flag.load">{{
                    'Open PDF' | translate
                  }}</ng-container>
                  <ng-container *ngIf="!flag.load">{{
                    'Loading...' | translate
                  }}</ng-container>
                </button>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
      <div [ngClass]="'col-md-3'">
        <app-card>
          <app-card-body>
            <div class="report-body">
              <div class="report-image">
                <img [src]="'assets/img/pdf.png'" />
              </div>
              <div class="report-action">
                <button
                  [disabled]="!flag.load"
                  class="btn btn-primary"
                  (click)="fileAction('pdf', 'print')"
                >
                  <app-icon
                    [icon]="'faPrint'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  <ng-container *ngIf="flag.load">{{
                    'Print PDF' | translate
                  }}</ng-container>
                  <ng-container *ngIf="!flag.load">{{
                    'Loading...' | translate
                  }}</ng-container>
                </button>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
      <div [ngClass]="'col-md-3'">
        <app-card>
          <app-card-body>
            <div class="report-body">
              <div class="report-image">
                <img [src]="'assets/img/pdf-download.png'" />
              </div>
              <div class="report-action">
                <button
                  [disabled]="!flag.load"
                  class="btn btn-primary"
                  (click)="fileAction('pdf', 'download')"
                >
                  <app-icon
                    [icon]="'faDownload'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  <ng-container *ngIf="flag.load">{{
                    'Download PDF' | translate
                  }}</ng-container>
                  <ng-container *ngIf="!flag.load">{{
                    'Loading...' | translate
                  }}</ng-container>
                </button>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
      <div [ngClass]="'col-md-3'">
        <app-card>
          <app-card-body>
            <div class="report-body">
              <div class="report-image">
                <img [src]="'assets/img/excel-download.png'" />
              </div>
              <div class="report-action">
                <button
                  [disabled]="!flag.load"
                  class="btn btn-primary"
                  (click)="fileAction('excel', 'xlsx')"
                >
                  <app-icon
                    [icon]="'faDownload'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  <ng-container *ngIf="flag.load">{{
                    'Download Excel' | translate
                  }}</ng-container>
                  <ng-container *ngIf="!flag.load">{{
                    'Loading...' | translate
                  }}</ng-container>
                </button>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
    </div>
  </div>
</div>
