<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Delete In Stock' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <app-alert
    [scheme]="'danger'"
    [background]="'danger'"
    [style]="'outline'"
    [withIcon]="true"
    [icon]="'faTrashAlt'"
  >
    <div class="text-white">
      <ng-container *ngIf="form.totalOut === 0 && form.totalTransfer === 0">
        {{ 'Are you sure to delete' | translate }} {{ key }}?
        <br />
        {{ 'Everything related to this in stock will be deleted!' | translate }}
      </ng-container>
      <ng-container *ngIf="form.totalOut > 0 || form.totalTransfer > 0">
        {{
          'Some items have run out or have been transferred to another warehouse, first delete them in stock out or transfer stock!'
            | translate
        }}
      </ng-container>
    </div>
  </app-alert>
</div>

<div class="modal-footer">
  <button class="btn btn-light" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-danger"
    (click)="submit()"
    [disabled]="form.totalOut > 0 || form.totalTransfer > 0"
  >
    <app-icon [icon]="'faTrashAlt'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Delete' | translate }}
  </button>
</div>
