<ng-container *ngIf="!schema?.state?.hide">
  <div *ngTemplateOutlet="contentText"></div>
</ng-container>

<ng-template #contentText>
  <span [ngStyle]="style" [ngClass]="styleClass">{{
    global.recursiveObject(label, value) | translate
  }}</span>
</ng-template>
