<ng-container *ngIf="!state?.hide">
  <div class="form-group">
    <label
      *ngIf="label && label.active"
      class="control-label"
      [ngStyle]="label.style"
      [ngClass]="label.styleClass"
    >
      {{ global.recursiveObject(label, value) | translate }}
      <span *ngIf="required" class="text-danger">*</span>
      <small
        class="form-text text-muted"
        *ngIf="labelSubtitle && labelSubtitle.active"
        >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
      >
    </label>
    <ng-container *ngIf="append && append.position === 'left'">
      <div
        *ngTemplateOutlet="
          contentAppend;
          context: {
            icon: append.icon,
            text: append.text,
            button: append.button
          }
        "
      ></div>
    </ng-container>
    <ng-container *ngIf="!isPrice">
      <input
        class="form-control"
        #input="ngModel"
        [type]="type"
        [ngStyle]="style"
        [ngClass]="styleClass"
        [class.is-valid]="
          formText.valid &&
          formText.valid.active &&
          !validationInput &&
          input.touched
        "
        [class.is-invalid]="
          formText.invalid &&
          formText.invalid.active &&
          validationInput &&
          input.touched
        "
        [class.form-control-rounded]="roundedInput"
        (keyup)="onKeyUp($event)"
        (blur)="onBlur($event)"
        [(ngModel)]="value[parentBinding][bindingObject]"
        (ngModelChange)="onChange($event)"
        [attr.placeholder]="placeholder"
        [attr.readonly]="readonly"
        [attr.minLength]="minLength"
        [attr.maxLength]="maxLength"
      />
    </ng-container>
    <ng-container *ngIf="isPrice">
      <input
        class="form-control"
        #input="ngModel"
        currencyMask
        [type]="type"
        [ngStyle]="style"
        [ngClass]="styleClass"
        [class.is-valid]="
          formText.valid && formText.valid.active && !validationInput
        "
        [class.is-invalid]="
          formText.invalid && formText.invalid.active && validationInput
        "
        [class.form-control-rounded]="roundedInput"
        (keyup)="onKeyUp($event)"
        (blur)="onBlur($event)"
        [(ngModel)]="value[parentBinding][bindingObject]"
        (ngModelChange)="onChange($event)"
        [attr.placeholder]="placeholder"
        [attr.readonly]="readonly"
        [attr.minLength]="minLength"
        [attr.maxLength]="maxLength"
      />
    </ng-container>
    <ng-container *ngIf="append && append.position === 'right'">
      <div
        *ngTemplateOutlet="
          contentAppend;
          context: {
            icon: append.icon,
            text: append.text,
            button: append.button
          }
        "
      ></div>
    </ng-container>
    <ng-container *ngIf="formText">
      <small
        class="form-text text-success"
        *ngIf="
          (!isPrice &&
            formText.valid &&
            formText.valid.active &&
            !validationInput) ||
          (isPrice &&
            formText.valid &&
            formText.valid.active &&
            !validationInput)
        "
      >
        {{ formText.valid.text | translate }}</small
      >
      <small
        class="form-text text-danger"
        *ngIf="
          (!isPrice &&
            formText.invalid &&
            formText.invalid.active &&
            validationInput) ||
          (isPrice &&
            formText.invalid &&
            formText.invalid.active &&
            validationInput)
        "
        >{{ formText.invalid.text | translate }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.info && formText.info.active"
        >{{ formText.info.text }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
        [innerHTML]="formText.infoInnerHTML.text"
      ></small>
    </ng-container>
  </div>

  <ng-template
    #contentAppend
    let-icon="icon"
    let-text="text"
    let-button="button"
  >
    <span class="input-group-text" *ngIf="icon.active || text.active">
      <app-icon
        *ngIf="icon.active"
        class="icon"
        [icon]="icon.src"
        [size]="icon.size"
        [spin]="icon.spin"
        [pulse]="icon.pulse"
      >
      </app-icon>
      <span
        *ngIf="text.active"
        [ngStyle]="text.style"
        [ngClass]="text.styleClass"
      >
        {{ append.text | translate }}
      </span>
    </span>
    <span class="input-group-prepend" *ngIf="button.active">
      <button
        class="btn"
        [ngStyle]="button.style"
        [ngClass]="button.styleClass"
        type="button"
      >
        {{ button.text | translate }}
      </button>
    </span>
  </ng-template>
</ng-container>
