<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Add Category' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="form-body">
            <label class="control-label label-name">
              {{ 'Name' | translate }} <span class="text-danger">*</span>
            </label>
            <input
              class="form-control"
              [type]="'text'"
              [attr.placeholder]="'Input Category Name' | translate"
              [class.is-invalid]="
                form.get('name').invalid && form.get('name').touched
              "
              formControlName="name"
            />
            <div
              class="form-required"
              *ngIf="form.get('name').invalid && form.get('name').touched"
            >
              {{ 'Name is invalid' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-primary text-white"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Submit' | translate }}
  </button>
</div>
