<!-- No dropdowns -->
<a
  *ngIf="!option.items; else dropDownItems"
  (click)="goToPage(option)"
  [routerLink]="option.link"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  [target]="option.target || '_self'"
>
  <span [class.font-xs]="option.icon.size === 'xs'">
    <app-icon *ngIf="option.icon" [icon]="option.icon" class="icon"></app-icon>
  </span>
  <span class="title" *ngIf="showTitle">{{ option.title | translate }}</span>
</a>

<!-- Has dropdown -->
<ng-template #dropDownItems>
  <a
    href="javascript:;"
    class="nav-link"
    openParent
    (onToggle)="option.open = $event"
  >
    <app-icon *ngIf="option.icon" [icon]="option.icon" class="icon"></app-icon>
    <span class="title" *ngIf="showTitle">{{ option.title | translate }}</span>

    <app-dropdown-icon
      [open]="option.open"
      class="dd-icon"
      *ngIf="showToggler"
    ></app-dropdown-icon>
  </a>

  <nav class="nav-dropdown-items">
    <app-sidenav-item
      *ngFor="let item of option.items"
      [option]="item"
    ></app-sidenav-item>
  </nav>
</ng-template>
