<ng-container *ngIf="!schema?.state?.hide">
  <div class="form-group">
    <label
      *ngIf="label && label.active"
      class="control-label"
      [ngStyle]="style"
      [ngClass]="styleClass"
    >
      {{ global.recursiveObject(label, value) | translate }}
      <span *ngIf="required" class="text-danger">*</span>
      <small
        class="form-text text-muted"
        *ngIf="labelSubtitle && labelSubtitle.active"
        >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
      >
    </label>
    <file-upload
      [(ngModel)]="uploadedFiles"
      (ngModelChange)="onChange($event)"
      #input="ngModel"
      [class.is-valid]="
        formText.valid && formText.valid.active && !validationInput
      "
      [class.is-invalid]="
        formText.invalid &&
        formText.invalid.active &&
        validationInput &&
        required
      "
      [disabled]="isDisabled"
      [minsize]="minsize"
      [maxsize]="maxsize"
      [multiple]="multiple"
      [animation]="animation"
      [accept]="accept"
      name="files"
    >
    </file-upload>
    <ng-container *ngIf="formText">
      <small
        class="form-text text-success"
        *ngIf="formText.valid && formText.valid.active && !validationInput"
      >
        {{ formText.valid.text | translate }}</small
      >
      <small
        class="form-text text-danger"
        *ngIf="
          formText.invalid &&
          formText.invalid.active &&
          validationInput &&
          required
        "
        >{{ formText.invalid.text | translate }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.info && formText.info.active"
        >{{ formText.info.text | translate }}</small
      >
      <small
        class="form-text text-info"
        *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
        [innerHTML]="formText.infoInnerHTML.text"
      ></small>
    </ng-container>
  </div>
</ng-container>
