<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Master',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'In Stock',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="row select-warehouse">
    <div class="col-md-3 col-sm-6 mb-2" *ngIf="dataWarehouse">
      <component-select
        [schema]="schemaWarehouseSelect"
        [value]="value"
        (callback)="callbackWarehouse($event)"
      >
      </component-select>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row" *ngIf="search">
      <div class="col-md-12">
        <app-card>
          <app-card-header [title]="'Filter' | translate"> </app-card-header>
          <app-card-body>
            <div class="form-search">
              <div class="row">
                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-name">
                    {{ 'By Stock Key' | translate }}
                  </label>
                  <input
                    class="form-control"
                    #inputSearch="ngModel"
                    [type]="'text'"
                    minLength="1"
                    placeholder="{{ 'Search...' | translate }}"
                    [(ngModel)]="search.stockKey"
                    (ngModelChange)="onChangeSearch('stockKey', $event)"
                  />
                </div>
                <div class="col-md-3 col-sm-6 mb-2" *ngIf="value.dataSuppliers">
                  <component-select
                    [schema]="schemaSupplierSelect"
                    [value]="value"
                    (callback)="callbackSupplier($event)"
                  >
                  </component-select>
                </div>

                <div class="col-md-3 col-sm-6 mb-2">
                  <label class="control-label label-date">
                    {{ 'By Date' | translate }}
                  </label>
                  <select
                    class="form-control"
                    [(ngModel)]="search.typeDate"
                    (ngModelChange)="onChangeSearch('typeDate', $event)"
                    #inputSearchTypeDate="ngModel"
                  >
                    <option value="All">{{ 'All' | translate }}</option>
                    <option value="Range">{{ 'Range' | translate }}</option>
                  </select>
                </div>
                <div
                  class="col-md-3 col-sm-6 mb-2"
                  *ngIf="search.typeDate === 'Range'"
                >
                  <label class="control-label label-range-date">
                    {{ 'Start Date - End Date' | translate }}
                  </label>

                  <input
                    [type]="'text'"
                    class="form-control"
                    #inputSearchRangeDate="ngModel"
                    [(ngModel)]="search.rangeDate"
                    bsDaterangepicker
                    (ngModelChange)="onChangeSearch('dateRange', $event)"
                  />
                </div>

                <div class="col-md-6 col-sm-6 mb-2">
                  <label class="control-label label-type">
                    {{ 'By Price' | translate }}
                  </label>
                  <div class="">
                    <mv-slider
                      *ngIf="
                        search.rangeBalance && search.rangeBalance.length > 0
                      "
                      [(value)]="search.rangeBalanceItem"
                      [min]="minBalanceRange"
                      [max]="maxBalanceRange"
                      [enabled]="true"
                      [range]="true"
                      (change)="onChangeSearch('rangeBalance', $event)"
                    ></mv-slider>
                    <div
                      *ngIf="
                        search.rangeBalance && search.rangeBalance.length > 0
                      "
                      class="flex justify-content-space-between"
                    >
                      <div class="">
                        {{
                          search.rangeBalance[0]
                            | accounting
                              : selectedBusiness.currency.align
                              : selectedBusiness.currency.precision
                              : selectedBusiness.currency.decimal
                              : selectedBusiness.currency.prefix
                              : selectedBusiness.currency.suffix
                              : selectedBusiness.currency.thousands
                              : selectedBusiness.currency.nullable
                        }}
                      </div>
                      <div class="">
                        {{
                          search.rangeBalance[1]
                            | accounting
                              : selectedBusiness.currency.align
                              : selectedBusiness.currency.precision
                              : selectedBusiness.currency.decimal
                              : selectedBusiness.currency.prefix
                              : selectedBusiness.currency.suffix
                              : selectedBusiness.currency.thousands
                              : selectedBusiness.currency.nullable
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </app-card-body>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="'col-md-6'">
        <app-card>
          <app-card-body>
            <ng-container *ngIf="goods; else emptyGoods">
              <div class="total-standard-title">
                {{ 'Total Goods' | translate }}
              </div>
              <app-alert
                [scheme]="'success'"
                [background]="'success'"
                [style]="'outline'"
                [withIcon]="false"
                [icon]="'faMoneyBill'"
              >
                <div class="text-white total-standard">
                  <span>
                    {{ totalGoods }}
                  </span>
                </div>
              </app-alert>
            </ng-container>
            <ng-template #emptyGoods>
              <ngx-skeleton
                height="24px"
                margin="0 0 8px 0"
                width="100%"
              ></ngx-skeleton>
            </ng-template>
          </app-card-body>
        </app-card>
      </div>
      <div [ngClass]="'col-md-6'">
        <app-card>
          <app-card-body>
            <ng-container *ngIf="goods; else emptyPrice">
              <div class="total-standard-title">
                {{ 'Total Price' | translate }}
              </div>
              <app-alert
                [scheme]="'success'"
                [background]="'success'"
                [style]="'outline'"
                [withIcon]="false"
                [icon]="'faMoneyBill'"
              >
                <div class="text-white total-standard">
                  <span
                    >{{
                      totalPrice
                        | accounting
                          : selectedBusiness.currency.align
                          : selectedBusiness.currency.precision
                          : selectedBusiness.currency.decimal
                          : selectedBusiness.currency.prefix
                          : selectedBusiness.currency.suffix
                          : selectedBusiness.currency.thousands
                          : selectedBusiness.currency.nullable
                    }}
                  </span>
                </div>
              </app-alert>
            </ng-container>
            <ng-template #emptyPrice>
              <ngx-skeleton
                height="24px"
                margin="0 0 8px 0"
                width="100%"
              ></ngx-skeleton>
            </ng-template>
          </app-card-body>
        </app-card>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="selectedActive ? 'col-md-8 col-xl-9' : 'col-md-12'">
        <ng-container *ngIf="isCard; else tableContent">
          <app-card>
            <app-card-header [title]="'In Stock' | translate">
              <div card-tools>
                <button
                  [disabled]="!flag.load || !selectedWarehouse"
                  class="btn btn-primary text-white"
                  (click)="addInStock()"
                >
                  <app-icon
                    [icon]="'faPlus'"
                    [size]="'md'"
                    class="mr-2"
                  ></app-icon>
                  <ng-container *ngIf="flag.load">{{
                    'In Stock' | translate
                  }}</ng-container>
                  <ng-container *ngIf="!flag.load">{{
                    'Loading...' | translate
                  }}</ng-container>
                </button>
              </div>
            </app-card-header>
            <app-card-body>
              <ng-container *ngTemplateOutlet="tableContent"></ng-container>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <ng-container *ngIf="selectedActive"> </ng-container>
    </div>
  </div>
</div>

<ng-template #tableContent>
  <ng-container *ngIf="data; else loadingList">
    <ngx-datatable
      class="ngx-datatable {{ currentStyles }}"
      [messages]="messages"
      [ngClass]="{
        listview: !isTableView,
        table: isTableView,
        'collapsed-list': isListCollapsed
      }"
      [class.responsive]="responsive"
      [class.expandable]="responsiveExpandable"
      [rows]="data"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="headerHeight"
      [rowHeight]="rowHeight"
      [footerHeight]="footerHeight"
      [scrollbarV]="scrollbarV"
      [scrollbarH]="scrollbarH"
      [limit]="limit"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="selectAllRowsOnPage"
      (select)="onSelect($event)"
      (onPage)="onPage($event)"
    >
      <ngx-datatable-column
        *ngFor="let column of columns"
        [name]="column.header | translate"
        [prop]="column.name"
        [width]="column.width ? column.width : 'auto'"
        [sortable]="column.sortable"
        [canAutoResize]="column.canAutoResize"
        [draggable]="column.draggable"
        [resizeable]="column.resizeable"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-branch="row"
          let-item="value"
          ngx-datatable-cell-template
        >
          <ng-container *ngIf="column.name === 'index'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ rowIndex + 1 }}
          </ng-container>
          <ng-container *ngIf="column.name === 'users'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ item.name }}
          </ng-container>
          <ng-container
            *ngIf="column.name === 'totalGoods' || column.name === 'key'"
          >
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{ item }}
          </ng-container>
          <ng-container *ngIf="column.name === 'totalPrice'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            {{
              item
                | accounting
                  : selectedBusiness.currency.align
                  : selectedBusiness.currency.precision
                  : selectedBusiness.currency.decimal
                  : selectedBusiness.currency.prefix
                  : selectedBusiness.currency.suffix
                  : selectedBusiness.currency.thousands
                  : selectedBusiness.currency.nullable
            }}
          </ng-container>
          <ng-container
            *ngIf="
              column.name === 'created' ||
              column.name === 'updated' ||
              column.name === 'date'
            "
          >
            <div>
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
            </div>
            <span *ngIf="item && item.constructor.name === 'Object'">
              <ng-container
                *ngTemplateOutlet="isToSeconds; context: { itemData: item }"
              ></ng-container>
            </span>
            <span *ngIf="item && item.constructor.name != 'Object'">
              <ng-container
                *ngTemplateOutlet="isToDate; context: { itemData: item }"
              ></ng-container>
            </span>
            <span *ngIf="!item">{{ 'Loading' | translate }}...</span>
          </ng-container>
          <ng-container *ngIf="column.name === 'action'">
            <ng-container *ngIf="isTableResponse"
              ><b>{{ column.header | translate }}</b
              >:
            </ng-container>
            <div class="flex">
              <button
                class="btn btn-primary text-white mr-2"
                (click)="detailInStock(branch)"
              >
                <app-icon [icon]="'faEye'" [size]="'md'"></app-icon>
              </button>
              <button
                class="btn btn-danger text-white"
                (click)="deleteInStock(branch)"
              >
                <app-icon [icon]="'faTrashAlt'" [size]="'md'"></app-icon>
              </button>
            </div>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer *ngIf="pagination.active">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div class="page-count">
            <span *ngIf="selectedMessage">
              {{ selectedCount.toLocaleString() | translate }}
              {{ selectedMessage | translate }} /
            </span>
            {{ rowCount.toLocaleString() | translate }}
            {{ pagination.labelTotalMessage | translate }}
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </ng-container>

  <ng-template #loadingList>
    <app-loader
      [template]="'list'"
      [isLoading]="isLoading"
      [count]="4"
    ></app-loader>
  </ng-template>
</ng-template>

<ng-template #isToSeconds let-itemData="itemData">
  <ng-container *ngIf="itemData?.seconds">
    {{ itemData?.seconds * 1000 | date }} <br />
    <span class="small">
      {{ itemData?.seconds * 1000 | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
</ng-template>
<ng-template #isToDate let-itemData="itemData">
  <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
    {{ itemData?.toDate() | date }} <br />
    <span class="small">
      {{ itemData?.toDate() | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
  <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
    <ng-container
      *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
    ></ng-container>
  </ng-container>
</ng-template>
