<input
  class="form-control"
  [name]="name"
  type="radio"
  [id]="currentId"
  (change)="callback($event, value)"
  [checked]="checked"
/>
<label class="mb-0" [for]="currentId">
  <app-card class="bw-2 card-option">
    <app-card-body>
      <span
        class="check-mark rounded-circle center-flex text-contrast"
        *ngIf="showMark && checked"
      >
        <app-icon [icon]="check"></app-icon>
      </span>

      <ng-content></ng-content>
    </app-card-body>
  </app-card>
</label>
