<app-page-overlay class="d-none d-md-block"></app-page-overlay>

<div class="content-wrapper">
  <div class="shapes-wrapper d-none d-md-block">
    <div class="static-shape shape-circle shape-circle-1">
      <div class="animation animation--rotating"></div>
    </div>
    <div class="static-shape shape-circle shape-circle-2">
      <div class="animation animation--rotating-clockwise"></div>
    </div>

    <div class="static-shape pattern-dots-1"></div>
  </div>

  <app-card>
    <app-card-body>
      <app-wizard-bulleted
        *ngIf="steps && steps.length; else loading"
        class="mobile-full-screen"
        linear
        [doneUrl]="redirectURL"
        doneText="{{ 'Go to Dashboard' | translate }}"
      >
        <app-wizard-step>
          <app-welcome [site]="site" [starter]="starter"></app-welcome>
        </app-wizard-step>

        <app-wizard-step *ngFor="let step of steps">
          <app-home-step [step]="step"></app-home-step>
        </app-wizard-step>

        <app-wizard-step>
          <app-get-started [steps]="steps"></app-get-started>
        </app-wizard-step>
      </app-wizard-bulleted>

      <ng-template #loading>
        <app-loader
          [template]="'table'"
          [isLoading]="true"
          [count]="3"
        ></app-loader>
      </ng-template>

      <hr class="separator" />
      <div class="skip-wizard">
        <nav class="nav justify-content-between align-items-center font-sm">
          <app-checkbox
            label="Show this on startup"
            [(ngModel)]="showOnStartupCheckbox"
            (ngModelChange)="onChangeCheckbox($event)"
            class="light"
          ></app-checkbox>

          <a href="javascript:;" class="text-muted light" (click)="Skip()"
            >{{ 'Skip' | translate }}
            {{
              showOnStartup ? ('once' | translate) : ('always' | translate)
            }}</a
          >
        </nav>
      </div>
    </app-card-body>
  </app-card>
</div>
