<div class="nav-item account dropdown" dropdown placement="bottom right">
  <app-nav-link class="dropdown-toggle" dropdownToggle [dark]="dark">
    <img
      src="{{
        user
          ? user.photo.downloadURL
          : 'https://randomuser.me/api/portraits/med/women/96.jpg'
      }}"
      class="avatar user-avatar rounded-circle"
      alt="..."
    />
  </app-nav-link>

  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <div class="dropdown-heading rounded-top bg-3 arrow position-top">
      <div class="media align-items-center">
        <img
          src="{{
            user
              ? user.photo.downloadURL
              : 'https://randomuser.me/api/portraits/med/women/96.jpg'
          }}"
          class="user-avatar shadow mr-2 rounded-circle"
          alt=""
        />

        <div class="media-body">
          <span class="bold user-name text-overflow text-capitalize">{{
            user.displayName
          }}</span>
          <p class="small text-muted text-overflow mb-0">
            {{ user.email }}
          </p>
        </div>
      </div>
    </div>

    <ul class="dropdown-body list list-group list-group-flush">
      <li class="list-group-item list-group-item-action">
        <a (click)="redirectURL('/panel/pages/page/profile')">
          <i-feather name="user" class="mr-2"></i-feather>
          {{ 'Profile' | translate }}
        </a>
      </li>
    </ul>

    <div
      class="dropdown-footer d-flex justify-content-between align-items-center"
    >
      <button class="btn btn-rounded btn-primary text-white" (click)="logout()">
        {{ 'Logout' | translate }}
      </button>
    </div>
  </div>
</div>
