<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Detail Purchaser' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <div class="form-group">
    <div class="form-body">
      <div class="detail-content">
        <div class="addressed-title mb-3">
          {{ 'Purchaser info' | translate }}
        </div>
        <div class="name">
          {{ 'Purchaser Name' | translate }}: <b>{{ formData.name }}</b>
        </div>
        <div class="sub-name">
          {{ 'Phone Number' | translate }}:
          <b>{{ formData.phoneNumber }}</b>
        </div>
        <div class="address">
          <div class="addressed-title">{{ 'Addressed' | translate }}</div>
          <div class="addressed">
            {{ 'Address' | translate }}: <b>{{ formData.address }}</b>
          </div>
          <div class="addressed-detail">
            {{ 'Address Detail' | translate }}:
            <b>{{ formData.addressDetail }}</b>
          </div>
          <div class="maps">
            <component-maps [schema]="schemaMaps" [value]="value">
            </component-maps>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="close()">
    {{ 'Close' | translate }}
  </button>
</div>
