<ng-template #contentImage let-type="type">
  <ng-container *ngIf="type == 'SVG'">
    <component-svg
      [schema]="schema.image"
      [value]="value"
      [class.iamge-right-app]="positionImage == 'right'"
    >
    </component-svg>
  </ng-container>
  <ng-container *ngIf="type == 'image'">
    <img
      [src]="global.recursiveData(bindingObject, value, type, binding)"
      [ngStyle]="style"
      [ngClass]="styleClass"
      [class.iamge-right-app]="positionImage == 'right'"
    />
  </ng-container>
  <ng-container *ngIf="type == 'FontAwesome'">
    <app-icon
      [schema]="schema.image"
      [value]="value"
      [class.iamge-right-app]="positionImage == 'right'"
    ></app-icon>
  </ng-container>
  <ng-container *ngIf="type == 'FirebaseStorage'">
    <div
      *ngTemplateOutlet="contentImage; context: { type: image?.fileType }"
    ></div>
  </ng-container>
</ng-template>

<div *ngTemplateOutlet="contentImage; context: { type: type }"></div>
