.select-warehouse-goods {
  .ng-select-container {
    min-height: 40px !important;
    padding: 6px !important;
  }
}

.select-custom-input {
  .name {
  }
  .serial-number {
  }
  .price {
    color: rgb(24, 134, 67);
  }
}
