<div class="form-group">
  <label
    *ngIf="label && label.active"
    class="control-label"
    [ngStyle]="label.style"
    [ngClass]="label.styleClass"
  >
    {{ global.recursiveObject(label, value) | translate }}
    <span *ngIf="required" class="text-danger">*</span>
    <small
      class="form-text text-muted"
      *ngIf="labelSubtitle && labelSubtitle.active"
      >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
    >
  </label>
  <ng-select
    #customSearchSelect
    [name]="'test'"
    ngDefaultControl
    [ngStyle]="style"
    [ngClass]="styleClass"
    [class.is-valid]="
      formText.valid && formText.valid.active && !validationInput
    "
    [class.is-invalid]="
      formText.invalid && formText.invalid.active && validationInput
    "
    [items]="data"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [labelForId]="labelForId"
    [searchable]="searchable"
    [multiple]="multiple"
    [hideSelected]="hideSelected"
    [maxSelectedItems]="maxSelectedItems"
    [closeOnSelect]="closeOnSelect"
    [groupBy]="groupBy"
    [clearable]="clearable"
    [selectableGroup]="selectableGroup"
    [selectableGroupAsModel]="selectableGroupAsModel"
    [(ngModel)]="value[parentBinding][bindingObject]"
    (ngModelChange)="onChange($event)"
    [placeholder]="placeholder"
  >
    <ng-container *ngIf="customSearch">
      <ng-template ng-header-tmp>
        <div class="form-group mb-0 has-icon icon-left">
          <input
            class="form-control"
            type="text"
            (input)="customSearchSelect.filter($event.target.value)"
            placeholder="Search..."
          />
          <app-icon
            *ngIf="clearable"
            [icon]="'faSearch'"
            class="icon"
          ></app-icon>
        </div>
      </ng-template>
    </ng-container>

    <ng-container
      *ngIf="
        customTemplate &&
        customTemplate.active &&
        customTemplate.type === 'warehousegoods'
      "
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <div class="select-custom">
          <span
            class="ng-value-icon left"
            (click)="clear(item)"
            aria-hidden="true"
            >×</span
          >
          <span> {{ item.name }} - {{ item.serialNumber }} </span>
        </div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="select-custom-input">
          <div class="name">
            {{ 'Name' | translate }}: <b>{{ item.name }}</b>
          </div>
          <div class="serial-number">
            {{ 'Serial Number' | translate }}: <b>{{ item.serialNumber }}</b>
          </div>
          <div class="price">
            {{ 'Price' | translate }}:
            <b>
              <ng-container *ngIf="selectedBusiness">{{
                item.price
                  | accounting
                    : selectedBusiness.currency.align
                    : selectedBusiness.currency.precision
                    : selectedBusiness.currency.decimal
                    : selectedBusiness.currency.prefix
                    : selectedBusiness.currency.suffix
                    : selectedBusiness.currency.thousands
                    : selectedBusiness.currency.nullable
              }}</ng-container>
              <ng-container *ngIf="!selectedBusiness">{{
                item.price
              }}</ng-container>
            </b>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container
      *ngIf="
        customTemplate &&
        customTemplate.active &&
        customTemplate.type === 'user'
      "
    >
      <ng-template ng-label-tmp let-item="item" let-clear="clear">
        <span
          class="ng-value-icon left"
          (click)="clear(item)"
          aria-hidden="true"
          >×</span
        >
        <span class="ng-value-label">
          <img
            [src]="global.recursiveData(customTemplate.bindingPhoto, item)"
            class="rounded-circle mr-1"
            width="20px"
            height="20px"
          />
          {{
            global.recursiveData(customTemplate.bindingName, item, 'text')
              | translate
          }}
        </span>
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div class="media">
          <img
            [src]="global.recursiveData(customTemplate.bindingPhoto, item)"
            class="rounded-circle mr-2"
            width="20px"
            height="20px"
          />
          <div class="media-body">
            <p class="my-0" [ngOptionHighlight]="search">
              {{
                global.recursiveData(customTemplate.bindingName, item, 'text')
                  | translate
              }}
            </p>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="selectedAll">
      <ng-template ng-header-tmp>
        <button (click)="selectAll()" class="btn btn-primary text-white">
          {{ 'Select all' | translate }}
        </button>
        <button (click)="unselectAll()" class="btn btn-light">
          {{ 'Unselect all' | translate }}
        </button>
      </ng-template>
      <ng-template ng-footer-tmp>
        {{ 'Selected' | translate }} : {{ selectedAll.length }}
      </ng-template>
    </ng-container>

    <ng-container *ngIf="grouping && grouping.active">
      <ng-template ng-optgroup-tmp let-item="item">
        <span class="text-capitalize">
          {{
            (global.recursiveData(grouping.bindingObject, item, 'text')
              | translate) || ('Unnamed group' | translate)
          }}
        </span>
      </ng-template>
    </ng-container>
  </ng-select>

  <ng-container *ngIf="formText">
    <small
      class="form-text text-success"
      *ngIf="formText.valid && formText.valid.active && !validationInput"
    >
      {{ formText.valid.text | translate }}</small
    >
    <small
      class="form-text text-danger"
      *ngIf="formText.invalid && formText.invalid.active && validationInput"
      >{{ formText.invalid.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.info && formText.info.active"
      >{{ formText.info.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
      [innerHTML]="formText.infoInnerHTML.text"
    ></small>
  </ng-container>
</div>
