<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Settings',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'Profile',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div [ngStyle]="{}" [ngClass]="''">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Photo Profile' | translate">
            </app-card-header>
            <app-card-body>
              <div
                class="detail-image-avatar"
                *ngIf="user?.photo; else emptyPhoto"
              >
                <img [src]="user.photo.downloadURL" />
              </div>
              <ng-template #emptyPhoto>
                <div class="detail-image-avatar">
                  <img [src]="'assets/img/avatar-multi.png'" />
                </div>
              </ng-template>
              <div class="profile-action">
                <button
                  class="btn btn-primary text-white"
                  (click)="editPhotoProfile(user)"
                >
                  <app-icon
                    [icon]="'faImage'"
                    [size]="'md'"
                    class=""
                  ></app-icon>
                  {{ 'Edit Photo' | translate }}
                </button>
              </div>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Personal Info' | translate">
            </app-card-header>
            <app-card-body>
              <div class="profile-content" *ngIf="user; else emptyUser">
                <div class="email">
                  {{ 'Email' | translate }}: <b>{{ user.email }}</b>
                </div>
                <div class="name mt-2">
                  {{ 'Name' | translate }}: <b>{{ user.displayName }}</b>
                </div>
                <div class="phone-number mt-2">
                  {{ 'Phone Number' | translate }}:
                  <b>{{ user.phoneNumber }}</b>
                </div>
                <div class="profile-action">
                  <button
                    class="btn btn-primary text-white"
                    (click)="editPersonalInfo(user)"
                  >
                    <app-icon
                      [icon]="'faPencilAlt'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Edit Personal Info' | translate }}
                  </button>
                  <button
                    class="btn btn-warning ml-2"
                    (click)="resetPassword(user.email)"
                  >
                    <app-icon
                      [icon]="'faKey'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Reset Password' | translate }}
                  </button>
                </div>
              </div>
              <ng-template #emptyUser>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="50%"
                ></ngx-skeleton>
              </ng-template>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Addressed' | translate">
            </app-card-header>
            <app-card-body>
              <component-maps
                [schema]="schemaMaps"
                [value]="value"
                *ngIf="value"
              >
              </component-maps>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <div [ngClass]="'col-md-6'">
        <ng-container *ngIf="isCard">
          <app-card>
            <app-card-header [title]="'Detail Address' | translate">
            </app-card-header>
            <app-card-body>
              <div class="profile-content" *ngIf="user; else emptyUser">
                <div class="email">
                  {{ 'Address' | translate }}: <b>{{ user.address }}</b>
                </div>
                <div class="password mt-2">
                  {{ 'Detail Address' | translate }}: <br /><b>{{
                    user.addressDetail
                  }}</b>
                </div>
                <div class="name mt-2">
                  {{ 'Country' | translate }}: <b>{{ user.country }}</b>
                </div>
                <div class="profile-action">
                  <button
                    class="btn btn-primary text-white"
                    (click)="editAddressed(user)"
                  >
                    <app-icon
                      [icon]="'faPencilAlt'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Edit Addressed' | translate }}
                  </button>
                </div>
              </div>
              <ng-template #emptyUser>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="80%"
                ></ngx-skeleton>
                <ngx-skeleton
                  height="24px"
                  margin="0 0 8px 0"
                  width="50%"
                ></ngx-skeleton>
              </ng-template>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #isToSeconds let-itemData="itemData">
  <ng-container *ngIf="itemData?.seconds">
    {{ itemData?.seconds * 1000 | date }}
  </ng-container>
</ng-template>
<ng-template #isToDate let-itemData="itemData">
  <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
    {{ itemData?.toDate() | date }}
  </ng-container>
  <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
    <ng-container
      *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
    ></ng-container>
  </ng-container>
</ng-template>
