@import "import";

@import "./../../../pages/base/base.component.scss";

.profile {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.profile-action {
  text-align: center;
  margin-top: 20px;
}

.account-type {
  text-align: center;
  font-size: 24px;
  color: #000;
  span {
    color: rgb(24, 134, 67);
    font-weight: 600;
  }
}

.account-balance-date {
  font-size: 18px;
  margin-top: 10px;
}
