<app-card>
  <app-card-body>
    <div class="row align-items-center">
      <div class="col">
        <!-- Title -->
        <h6 class="text-uppercase text-muted small mb-2">
          {{ title | translate }}
        </h6>

        <div class="row align-items-center no-gutters">
          <div class="col-auto">
            <!-- Heading -->
            <span class="h2 mb-0 mr-2">{{ heading | translate }}</span>

            <!-- Badge -->
            <span class="badge badge-success" *ngIf="badge">{{
              badge | translate
            }}</span>
            <ng-content select="[badge]"></ng-content>
          </div>

          <div class="col">
            <ng-content select="[progress]"></ng-content>
          </div>
        </div>
      </div>

      <div class="col-auto" *ngIf="type">
        <ng-content select="[icon]"></ng-content>
        <div class="chart chart-mini" *ngIf="type == StatType.chart">
          <ng-content select="[mini-chart]"></ng-content>
        </div>
      </div>
    </div>
  </app-card-body>
</app-card>
