@import "./../../../base/base.component.scss";

.table-modal {
  background: rgb(241, 241, 241);
}

.total-goods {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.total-price {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: rgb(43, 114, 75);
  margin-bottom: 20px;
}

.total-info {
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(114, 43, 43);
}

.total-balance {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: rgb(43, 114, 75);
  margin-top: 20px;
  margin-bottom: 10px;
}
