<ng-container
  *ngIf="role && role === 'SuperAdmin' && user && !user.emailVerified"
>
  <div class="email-verified">
    <div class="email-verified-left">
      {{ 'Please verify the email' | translate }}
      {{ user ? user.email : '' }}
    </div>
    <div class="email-verified-right">
      {{ 'Didn`t receive email verification instructions?' | translate }}
      <a class="pointer" (click)="verifyEmail()">{{
        'Retry Send' | translate
      }}</a>
    </div>
  </div>
</ng-container>
<nav class="navbar" [ngClass]="{ 'navbar-dark bg-dark': dark }">
  <div class="container-fluid">
    <a class="toolbar-brand" href="javascript:;" *ngIf="branded">
      <img
        src="{{
          site
            ? configLayout.type === 'horizontal'
              ? logo
              : site.favicon.downloadURL
            : 'assets/img/logo-light.svg'
        }}"
        alt="Page Builder Console"
        class="logo"
        *ngIf="!dark"
      />
      <img
        src="{{
          site
            ? configLayout.type === 'horizontal'
              ? logo
              : site.favicon.downloadURL
            : 'assets/img/logo-light.svg'
        }}"
        alt="Page Builder Console"
        class="logo"
        *ngIf="dark"
      />
    </a>

    <!-- SEARCH FORM -->
    <!-- <app-header-search [dark]="dark"></app-header-search> -->

    <nav class="navbar-nav nav ml-md-auto">
      <app-menu-toggler
        [dark]="dark"
        class="sidenav-toggler d-md-none mr-auto"
        (click)="toggleSidenav()"
      >
      </app-menu-toggler>

      <!-- LANGUAGE DROPDOWN -->
      <app-header-language
        *ngIf="configHeader.language"
        [dark]="dark"
        class="mr-3"
      ></app-header-language>

      <!-- APPS -->
      <app-header-menu-apps
        [dark]="dark"
        class="mr-3"
        *ngIf="configHeader.menuapps"
      ></app-header-menu-apps>

      <!-- MESSAGES DROPDOWN -->
      <app-header-menu-messages
        *ngIf="configHeader.message"
        [dark]="dark"
        class="mr-3"
      ></app-header-menu-messages>

      <!-- NOTIFICATIONS DROPDOWN -->
      <app-header-menu-notifications
        *ngIf="configHeader.notification"
        [dark]="dark"
        class="mr-3"
      >
      </app-header-menu-notifications>

      <!-- ACCOUNT DROPDOWN -->
      <app-header-user-account
        *ngIf="user"
        [dark]="dark"
        class="mr-3"
      ></app-header-user-account>
      <!-- QUICK SIDENAV TOGGLER -->
      <!-- <div class="aside-toggler">
        <app-nav-link [dark]="dark" (click)="toggleQuickSidenav()">
          <i-feather name="more-vertical"></i-feather>
        </app-nav-link>
      </div> -->
    </nav>
  </div>
</nav>
