<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'In Stock' | translate }}
</div>

<form [formGroup]="formStock" *ngIf="formStock">
  <div class="modal-body table-modal" perfectScrollbar>
    <div [ngStyle]="{}" [ngClass]="''">
      <div class="container-fluid">
        <div class="row">
          <div [ngClass]="selectedActive ? 'col-md-8 col-xl-9' : 'col-md-12'">
            <ng-container *ngIf="isCard; else tableContent">
              <div [ngStyle]="{}" [ngClass]="''">
                <div class="row select-supplier">
                  <div class="col-md-6">
                    <component-select
                      [schema]="schemaSupplierSelect"
                      [value]="value"
                      (callback)="callbackSupplier($event)"
                    >
                    </component-select>
                  </div>
                  <div class="col-md-6">
                    <div class="form-body">
                      <label class="control-label label-date">
                        {{ 'Date' | translate }}
                        <span class="text-danger">*</span>
                      </label>

                      <input
                        [type]="'text'"
                        class="form-control"
                        placeholder="{{ 'Input Date' | translate }}"
                        formControlName="date"
                        [class.is-valid]="
                          formStock.get('date').valid &&
                          formStock.get('date').touched
                        "
                        [class.is-invalid]="
                          formStock.get('date').invalid &&
                          formStock.get('date').touched
                        "
                        bsDatepicker
                      />

                      <div
                        class="form-required"
                        *ngIf="
                          formStock.get('date').invalid &&
                          formStock.get('date').touched
                        "
                      >
                        {{ 'Date is invalid' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <app-card>
                <app-card-header [title]="'Goods' | translate">
                  <div card-tools>
                    <button
                      class="btn btn-primary text-white"
                      [disabled]="remainingAddStock === 0"
                      (click)="addInStockxl(templateAddInStockGoods)"
                    >
                      <app-icon
                        [icon]="'faPlus'"
                        [size]="'md'"
                        class="mr-2"
                      ></app-icon>
                      {{ 'Add Goods' | translate }}
                    </button>
                  </div>
                </app-card-header>
                <app-card-body>
                  <ng-container *ngTemplateOutlet="tableContent"></ng-container>
                </app-card-body>
              </app-card>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-body">
                    <label class="control-label label-description">
                      {{ 'Description' | translate }}
                    </label>
                    <textarea
                      class="form-control"
                      [attr.placeholder]="'Input your Description' | translate"
                      [class.is-invalid]="
                        formStock.get('description').invalid &&
                        formStock.get('description').touched
                      "
                      formControlName="description"
                    ></textarea>
                    <div
                      class="form-required"
                      *ngIf="
                        formStock.get('description').invalid &&
                        formStock.get('description').touched
                      "
                    >
                      {{ 'Description is invalid' | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="total-info">
                    *{{ 'Maximal Add Stock' }}: {{ maxAddStock }}
                  </div>
                  <div class="total-goods">
                    {{ 'Total Goods' }}: {{ formStock.get('totalGoods').value }}
                  </div>
                  <div class="total-price">
                    {{ 'Total Price' }}:
                    {{
                      formStock.get('totalPrice').value
                        | accounting
                          : selectedBusiness.currency.align
                          : selectedBusiness.currency.precision
                          : selectedBusiness.currency.decimal
                          : selectedBusiness.currency.prefix
                          : selectedBusiness.currency.suffix
                          : selectedBusiness.currency.thousands
                          : selectedBusiness.currency.nullable
                    }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="selectedActive"> </ng-container>
        </div>
      </div>
    </div>

    <ng-template #tableContent>
      <ng-container *ngIf="data; else loadingList">
        <ngx-datatable
          #tableGoods
          class="ngx-datatable {{ currentStyles }}"
          [messages]="messages"
          [ngClass]="{
            listview: !isTableView,
            table: isTableView,
            'collapsed-list': isListCollapsed
          }"
          [class.responsive]="responsive"
          [class.expandable]="responsiveExpandable"
          [rows]="data"
          [columns]="columns"
          [columnMode]="ColumnMode.force"
          [headerHeight]="headerHeight"
          [rowHeight]="rowHeight"
          [footerHeight]="footerHeight"
          [scrollbarV]="scrollbarV"
          [scrollbarH]="scrollbarH"
          [limit]="limit"
          [selected]="selected"
          [selectionType]="SelectionType.checkbox"
          [selectAllRowsOnPage]="selectAllRowsOnPage"
          (select)="onSelect($event)"
          (onPage)="onPage($event)"
        >
          <ngx-datatable-column
            *ngFor="let column of columns"
            [name]="column.header | translate"
            [prop]="column.name"
            [width]="column.width ? column.width : 'auto'"
            [sortable]="column.sortable"
            [canAutoResize]="column.canAutoResize"
            [draggable]="column.draggable"
            [resizeable]="column.resizeable"
          >
            <ng-template
              let-rowIndex="rowIndex"
              let-branch="row"
              let-item="value"
              ngx-datatable-cell-template
            >
              <ng-container *ngIf="column.name === 'index'">
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
                {{ rowIndex + 1 }}
              </ng-container>
              <ng-container *ngIf="column.name === 'goods'">
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
                {{ item.name }}
              </ng-container>
              <ng-container *ngIf="column.name === 'qty'">
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
                {{ branch.qty }} {{ branch?.goods?.units?.name }}
              </ng-container>
              <ng-container *ngIf="column.name === 'totalPrice'">
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
                {{
                  item
                    | accounting
                      : selectedBusiness.currency.align
                      : selectedBusiness.currency.precision
                      : selectedBusiness.currency.decimal
                      : selectedBusiness.currency.prefix
                      : selectedBusiness.currency.suffix
                      : selectedBusiness.currency.thousands
                      : selectedBusiness.currency.nullable
                }}
              </ng-container>
              <ng-container
                *ngIf="column.name === 'created' || column.name === 'updated'"
              >
                <div>
                  <ng-container *ngIf="isTableResponse"
                    ><b>{{ column.header | translate }}</b
                    >:
                  </ng-container>
                </div>
                <span *ngIf="item && item.constructor.name === 'Object'">
                  <ng-container
                    *ngTemplateOutlet="isToSeconds; context: { itemData: item }"
                  ></ng-container>
                </span>
                <span *ngIf="item && item.constructor.name != 'Object'">
                  <ng-container
                    *ngTemplateOutlet="isToDate; context: { itemData: item }"
                  ></ng-container>
                </span>
                <span *ngIf="!item">{{ 'Loading' | translate }}...</span>
              </ng-container>
              <ng-container *ngIf="column.name === 'action'">
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
                <div class="flex">
                  <button class="btn btn-danger" (click)="delete(branch)">
                    <app-icon [icon]="'faTrashAlt'" [size]="'md'"></app-icon>
                  </button>
                </div>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer *ngIf="pagination.active">
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
              let-isVisible="isVisible"
            >
              <div class="page-count">
                <span *ngIf="selectedMessage">
                  {{ selectedCount.toLocaleString() | translate }}
                  {{ selectedMessage | translate }} /
                </span>
                {{ rowCount.toLocaleString() | translate }}
                {{ pagination.labelTotalMessage | translate }}
              </div>
              <datatable-pager
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [page]="curPage"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="!(rowCount / pageSize > 1)"
                (change)="tableGoods.onFooterPage($event)"
              >
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </ng-container>

      <ng-template #loadingList>
        <app-loader
          [template]="'list'"
          [isLoading]="true"
          [count]="4"
        ></app-loader>
      </ng-template>
    </ng-template>

    <ng-template #isToSeconds let-itemData="itemData">
      <ng-container *ngIf="itemData?.seconds">
        {{ itemData?.seconds * 1000 | date }} <br />
        <span class="small">
          {{ itemData?.seconds * 1000 | date: 'hh:mm:ss a' }}
        </span>
      </ng-container>
    </ng-template>
    <ng-template #isToDate let-itemData="itemData">
      <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
        {{ itemData?.toDate() | date }} <br />
        <span class="small">
          {{ itemData?.toDate() | date: 'hh:mm:ss a' }}
        </span>
      </ng-container>
      <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
        <ng-container
          *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
        ></ng-container>
      </ng-container>
    </ng-template>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="closeModal()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-primary text-white"
    (click)="submit()"
    *ngIf="formStock"
    [disabled]="formStock.invalid || data.length === 0"
  >
    <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Submit' | translate }}
  </button>
</div>

<ng-template #templateAddInStockGoods>
  <app-loading
    [isLoading]="loading.isLoading"
    [text]="loading.text"
    [primaryColour]="loading.primaryColour"
    [secondaryColour]="loading.secondaryColour"
    [animation]="loading.animation"
    [image]="loading.image"
  >
  </app-loading>

  <div class="modal-header">
    {{ 'Add Goods to In Stock' | translate }}
  </div>

  <form [formGroup]="form" *ngIf="form">
    <div class="modal-body" perfectScrollbar>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-body" *ngIf="value && goods">
              <component-select
                [schema]="schemaGoodsSelect"
                [value]="value"
                (callback)="callbackGoods($event)"
              >
              </component-select>
            </div>

            <div class="form-body" *ngIf="selectedGoods">
              <label class="control-label label-qty">
                {{ 'QTY' | translate }} <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                mask="00000"
                [type]="'text'"
                [attr.placeholder]="'Input QTY' | translate"
                [class.is-invalid]="
                  form.get('qty').invalid && form.get('qty').touched
                "
                formControlName="qty"
                [max]="3"
              />
              <div
                class="form-required"
                *ngIf="form.get('qty').invalid && form.get('qty').touched"
              >
                {{ 'QTY is invalid' | translate }}
              </div>
            </div>

            <div class="form-body" *ngIf="selectedGoods">
              <label class="control-label label-price">
                {{ 'Price' | translate }} <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                [type]="'text'"
                required="true"
                readonly
                currencyMask
                [options]="{
                  align: selectedBusiness.currency.align,
                  precision: selectedBusiness.currency.precision,
                  decimal: selectedBusiness.currency.decimal,
                  prefix: selectedBusiness.currency.prefix,
                  suffix: selectedBusiness.currency.suffix,
                  thousands: selectedBusiness.currency.thousands,
                  nullable: selectedBusiness.currency.nullable
                }"
                formControlName="price"
                [class.is-valid]="
                  form.get('price').valid && form.get('price').touched
                "
                [class.is-invalid]="
                  form.get('price').touched && form.get('price').value == 0
                "
              />

              <div
                class="form-required"
                *ngIf="
                  form.get('price').touched && form.get('price').value == 0
                "
              >
                {{ 'Price is invalid' | translate }}
              </div>
            </div>

            <div class="form-body" *ngIf="selectedGoods">
              <label class="control-label label-price">
                {{ 'Total Price' | translate }}
                <span class="text-danger">*</span>
              </label>
              <input
                class="form-control"
                [type]="'text'"
                required="true"
                readonly
                currencyMask
                [options]="{
                  align: selectedBusiness.currency.align,
                  precision: selectedBusiness.currency.precision,
                  decimal: selectedBusiness.currency.decimal,
                  prefix: selectedBusiness.currency.prefix,
                  suffix: selectedBusiness.currency.suffix,
                  thousands: selectedBusiness.currency.thousands,
                  nullable: selectedBusiness.currency.nullable
                }"
                formControlName="totalPrice"
                [class.is-valid]="
                  form.get('totalPrice').valid && form.get('totalPrice').touched
                "
                [class.is-invalid]="
                  form.get('totalPrice').touched &&
                  form.get('totalPrice').value == 0
                "
              />

              <div
                class="form-required"
                *ngIf="
                  form.get('totalPrice').touched &&
                  form.get('totalPrice').value == 0
                "
              >
                {{ 'Total Price is invalid' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer" *ngIf="form">
    <button class="btn btn-light mr-2" (click)="closeAddInStockModal()">
      {{ 'Close' | translate }}
    </button>
    <button
      class="btn btn-primary text-white"
      (click)="add()"
      [disabled]="
        form.invalid || form.get('qty').value == 0 || flag.disabledButton
      "
    >
      <app-icon [icon]="'faPlus'" [size]="'md'" class="mr-1"></app-icon>
      {{ 'Add' | translate }}
    </button>
  </div>
</ng-template>
