<nav aria-label="breadcrumb">
  <ol
    class="breadcrumb"
    [class.no-margin]="!isMargin"
    [class.custom-separator]="separator"
  >
    <li class="breadcrumb-item">
      <a [routerLink]="[homeURL]" class="breadcrumb-link pointer">
        <app-icon [icon]="'faHome'"></app-icon>
      </a>
    </li>

    <ng-container *ngFor="let item of items; let i = index">
      <li class="breadcrumb-item breadcrum-separator" *ngIf="separator">
        <app-icon [icon]="separator"></app-icon>
      </li>

      <li class="breadcrumb-item" [class.active]="i === items.length - 1">
        <a
          (click)="onRedirect(item.path)"
          *ngIf="item.path; else noPath"
          class="breadcrumb-link pointer"
          >{{ item.label | translate }}</a
        >
        <ng-template #noPath>{{ item.label | translate }}</ng-template>
      </li>
    </ng-container>
  </ol>
</nav>
