<ng-container *ngIf="site">
  <ng-container *ngIf="site.comingSoon || site.maintenance; else content">
    <ng-container *ngIf="site.comingSoon">
      <app-comingsoon
        *ngIf="site.comingSoonDate?.seconds * 1000 > dateNow; else content"
      ></app-comingsoon>
    </ng-container>
    <ng-container *ngIf="!site.comingSoon && site.maintenance">
      <app-maintenance
        *ngIf="site.maintenanceDate?.seconds * 1000 > dateNow; else content"
      ></app-maintenance>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>

<jjva-ngx-whatsapp-button
  *ngIf="layout.whatsapp"
  class="custom-whatsapp"
  [ngx_whatsapp_phone]="whatsapp.phone"
  [ngx_whatsapp_text]="whatsapp.title"
></jjva-ngx-whatsapp-button>
