<div class="text-center">
  <figure class="step-image">
    <img [src]="step.image" class="mb-5 img-responsive" alt="" />
  </figure>

  <h3>{{ step.title | translate }}</h3>
  <p class="text-muted">{{ step.description | translate }}</p>
</div>
