<div class="sidenav-logo">
  <a class="sidenav-brand" href="javascript:;">
    <img
      *ngIf="!collapsed"
      src="{{ site ? logo : 'assets/img/logo-light.svg' }}"
      alt="Page Builder Console"
      class="logo"
    />
    <img
      *ngIf="collapsed"
      src="{{ site ? site.favicon.downloadURL : 'assets/img/logo-light.svg' }}"
      alt="Page Builder Console"
      class="logo"
    />
  </a>

  <app-menu-toggler
    class="sidenav-toggler"
    dark="true"
    (click)="toggleSidenav()"
  ></app-menu-toggler>
</div>

<div perfectScrollbar class="sidenav-content">
  <nav class="nav flex-column">
    <!-- USER -->
    <div class="nav-item user-sidenav nav-dropdown">
      <a
        href="javascript:;"
        class="nav-link"
        openParent
        (onToggle)="user.open = $event"
      >
        <app-avatar-info [name]="user.displayName" [info]="user.email">
          <app-avatar [avatar]="user" class="user-picture"></app-avatar>
        </app-avatar-info>

        <app-dropdown-icon
          [open]="user.open"
          class="dd-icon"
        ></app-dropdown-icon>
      </a>

      <div class="nav-dropdown-items">
        <nav class="nav justify-content-between">
          <a
            href="javascript:;"
            (click)="redirectURL('/panel/pages/page/profile')"
            class="nav-link text-truncate m-0"
          >
            <fa-icon [icon]="icons.faUser" class="mr-1"></fa-icon>
            <span class="small">{{ 'Profile' | translate }}</span>
          </a>
          <a
            href="javascript:;"
            class="nav-link text-truncate m-0"
            (click)="logout()"
          >
            <fa-icon [icon]="icons.faSignOutAlt" class="mr-1"></fa-icon>
            <span class="small">{{ 'Logout' | translate }}</span>
          </a>
        </nav>
      </div>
    </div>

    <!-- ALL NAVIGATION OPTIONS -->
    <ng-container *ngFor="let group of navGroups">
      <div class="nav-header">
        <span>{{ group.title | translate }}</span>
      </div>

      <app-sidenav-item
        *ngFor="let option of group.items"
        [option]="option"
        [collapsed]="collapsed"
        [hover]="hover"
      >
      </app-sidenav-item>
    </ng-container>
  </nav>
</div>
