<div
  class="avatar {{ size ? 'avatar-' + size : '' }}"
  [ngClass]="{
    placeholder: !avatar.photo.downloadURL,
    editable: editable,
    'drag-over': hasDragOver
  }"
>
  <img
    *ngIf="avatar.photo.downloadURL; else placeholder"
    [src]="avatar.photo.downloadURL"
    class="user-avatar rounded-circle"
    alt="{{ avatar.displayName }}"
  />
  <ng-template #placeholder>
    <div
      class="user-avatar rounded-circle text-capitalize"
      [style.background-color]="placeholderBgColor"
    >
      {{ avatar.displayName | translate | slice: 0:1 }}
    </div>
  </ng-template>
  <span
    class="status {{ avatar.status }}"
    [ngClass]="statusCssClass"
    [style.border-color]="statusBorderColor"
    *ngIf="avatar.status"
  ></span>

  <div class="upload-avatar" *ngIf="editable">
    <label
      for="uploader-input"
      class="upload-action upload-trigger"
      ng2FileDrop
      (fileOver)="fileOver($event)"
      [uploader]="uploader"
    >
      <app-icon [icon]="icons.upload" size="sm"></app-icon>
    </label>
    <input
      type="file"
      class="file-uploader"
      ng2FileSelect
      [uploader]="uploader"
      id="uploader-input"
    />
  </div>
</div>
