<footer class="main-footer">
  <div class="container-fluid d-flex justify-content-between small">
    <span>
      &copy; {{ 'Copyright' | translate }} {{ site.publish }}.
      <a [href]="domain ? 'https://' + domain.domain : ''" target="_blank">{{
        site.alias
      }}</a>
    </span>
    <span class="text-dark">{{ site.version }}</span>
  </div>
</footer>
