<ng-container *ngIf="!schema.state.hide">
  <div *ngTemplateOutlet="contentButton"></div>
</ng-container>

<ng-template #contentButton>
  <button
    [ngStyle]="style"
    [ngClass]="styleClass"
    [disabled]="schema.state.disabled"
    (click)="onCallbackAction(value)"
  >
    <ng-container
      *ngIf="
        schema.image && schema.image.active && schema.image.position === 'left'
      "
    >
      <div *ngTemplateOutlet="contentImage"></div>
    </ng-container>
    <div *ngTemplateOutlet="contentText"></div>
    <ng-container
      *ngIf="
        schema.image && schema.image.active && schema.image.position === 'right'
      "
    >
      <div *ngTemplateOutlet="contentImage"></div>
    </ng-container>
  </button>
</ng-template>

<ng-template #contentText>
  <component-text-extend
    [schema]="schema.text"
    [value]="value"
  ></component-text-extend>
</ng-template>

<ng-template #contentImage>
  <component-image-extend
    [schema]="schema.image"
    [value]="value"
    [class.ml-2]="
      schema.image.position === 'right' &&
      schema.text &&
      schema.text.label &&
      schema.text.label.active
    "
    [class.mr-2]="
      schema.image.position === 'left' &&
      schema.text &&
      schema.text.label &&
      schema.text.label.active
    "
  >
  </component-image-extend>
</ng-template>
