<div class="modal-header">
  {{ 'Reset Password' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <form [formGroup]="form">
    <div class="form-group">
      <div class="form-body">
        <label class="control-label label-email">
          {{ 'Email' | translate }} <span class="text-danger">*</span>
        </label>
        <small class="control-sublabel form-text text-muted">
          {{ 'Input your Email' | translate }}
        </small>
        <input
          class="form-control mb-2"
          [type]="'email'"
          [attr.placeholder]="'Input your Email' | translate"
          [class.is-invalid]="
            form.get('email').invalid && form.get('email').touched
          "
          formControlName="email"
        />
        <div
          class="form-required"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
          {{ 'Email is invalid' | translate }}
        </div>
      </div>
    </div>
    <div class="container-button"></div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-light" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button
    class="btn btn-primary text-white"
    [disabled]="form.invalid"
    (click)="resetPassword()"
  >
    {{ 'Reset Password' | translate }}
  </button>
</div>
