<form [formGroup]="form" class="cozy" novalidate>
  <ul class="list-group list-group-clean">
    <li class="list-group-item px-0">
      <h4 class="small bold text-primary text-uppercase mb-4">
        {{ 'Email settings' | translate }}
      </h4>

      <div class="option">
        <div class="mr-3">
          <p class="mb-0 semi-bold">{{ 'Automatic response' | translate }}</p>
          <p class="mb-0 small italic text-muted">
            {{ 'Configure an automated response' | translate }}. ({{
              'Experimental' | translate
            }})
          </p>
        </div>

        <app-toggle
          class="tgl-alternate"
          [id]="'automatic-response'"
          formControlName="automaticResponse"
        ></app-toggle>
      </div>

      <div class="option">
        <div class="mr-3">
          <p class="mb-0 semi-bold">{{ 'Daily summary emails' | translate }}</p>
          <p class="mb-0 small italic text-muted">
            {{ 'Send me a daily summary of all my activity' | translate }}
          </p>
        </div>

        <app-toggle
          class="tgl-alternate"
          [id]="'daily-summary-emails'"
          formControlName="dailySummaryEmails"
        >
        </app-toggle>
      </div>
    </li>

    <li class="list-group-item">
      <h4 class="small bold text-primary text-uppercase mb-4">
        {{ 'Personal settings' | translate }}
      </h4>

      <div class="option">
        <p class="mb-0 mr-3 semi-bold">
          {{ 'Other can view my status' | translate }}
        </p>

        <app-toggle
          class="tgl-alternate"
          [id]="'other-can-view-my-status'"
          formControlName="otherCanViewMyStatus"
        >
        </app-toggle>
      </div>

      <div class="option">
        <p class="mb-0 mr-3 semi-bold">{{ 'Automatic signing' | translate }}</p>

        <app-toggle
          class="tgl-alternate"
          [id]="'automatic-signing'"
          formControlName="automaticSigning"
        ></app-toggle>
      </div>

      <div class="option">
        <p class="mb-0 mr-3 semi-bold">
          {{ 'Clear cache on log off' | translate }}
        </p>

        <app-toggle
          class="tgl-alternate"
          [id]="'clear-cache-on-logoff'"
          formControlName="clearCacheOnLogoff"
        >
        </app-toggle>
      </div>

      <div class="option">
        <p class="mb-0 mr-3 semi-bold">
          {{ 'Allow remote access' | translate }}
        </p>

        <app-toggle
          class="tgl-danger"
          [id]="'allow-remote-access'"
          formControlName="allowRemoteAccess"
        ></app-toggle>
      </div>
    </li>
  </ul>
</form>
