@import "import";

/** shared among chekboxes */
.form-control {
  display: none;

  &:checked + .control-label {
    font-weight: $font-weight-normal;

    .check-mark {
      border-color: $check-radio-default-check-border-color;
    }
  }
}

.check-mark {
  position: relative;
  padding: 0;
  margin: 0 0.25rem 0 0;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  height: $checkbox-size;
  width: $checkbox-size;
  border: 1px solid $input-border-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    display: block;
  }
}

.form-check {
  padding-left: 0;
}

.control-label {
  cursor: pointer;
  padding-left: 0;
  position: relative;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  &.error {
    &:before {
      content: none;
    }
  }

  &.shadowed {
    box-shadow: none !important;

    .check-mark {
      box-shadow: $checkbox-check-shadow;
    }
  }
}

/****/

:host {
  position: relative;
  display: flex;

  &.form-check-inline {
    display: inline-flex;
  }

  &.bw-2 {
    .control-label {
      .check-mark {
        border-width: 2px;
      }
    }
  }

  .control-label {
    .check-mark {
      border-radius: 50%;

      &:before {
        width: $checkbox-size / 3;
        height: $checkbox-size / 3;
      }
    }
  }

  .form-control {
    &:checked {
      + .control-label .check-mark:before {
        background-color: $check-radio-default-check-border-color;
        border-radius: 50%;
      }
    }
  }

  @each $i, $color in $theme-colors {
    &.radio-#{$i} {
      @include check-radio-checked-variant($color, radio);

      &.radio-outlined {
        @include check-radio-outlined-variant($color);
      }
    }
  }
}
