<div class="form-group">
  <label
    *ngIf="label && label.active"
    class="control-label"
    [ngStyle]="label.style"
    [ngClass]="label.styleClass"
  >
    {{ global.recursiveObject(label, value) | translate }}
    <span *ngIf="required" class="text-danger pl-1"> *</span>
    <small
      class="form-text text-muted"
      *ngIf="labelSubtitle && labelSubtitle.active"
      >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
    >
  </label>
  <div class="form-check-list mt-2" *ngIf="value[parentBinding]">
    <ng-container *ngFor="let item of data; let i = index">
      <div class="form-check">
        <input
          class="form-control"
          type="radio"
          [name]="item.name"
          [ngStyle]="style"
          [ngClass]="styleClass"
          #input="ngModel"
          [class.is-valid]="
            formText.valid &&
            formText.valid.active &&
            !validationInput &&
            input.touched
          "
          [class.is-invalid]="
            formText.invalid &&
            formText.invalid.active &&
            validationInput &&
            input.touched
          "
          [id]="item.id"
          [value]="item.value"
          [(ngModel)]="value[parentBinding][bindingObject]"
          (ngModelChange)="onChange($event)"
          [checked]="item.checked"
          [disabled]="item.disabled"
          [attr.readonly]="readonly"
        />
        <label class="control-label" [class.shadowed]="shadow" [for]="item.id">
          <span class="check-mark"></span>
          <span>{{
            global.recursiveObject(item.label, value) | translate
          }}</span>
        </label>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="formText">
    <small
      class="form-text text-success"
      *ngIf="formText.valid && formText.valid.active && !validationInput"
    >
      {{ formText.valid.text | translate }}</small
    >
    <small
      class="form-text text-danger"
      *ngIf="formText.invalid && formText.invalid.active && validationInput"
      >{{ formText.invalid.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.info && formText.info.active"
      >{{ formText.info.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
      [innerHTML]="formText.infoInnerHTML.text"
    ></small>
  </ng-container>
</div>
