<div class="form-group">
  <label
    *ngIf="label && label.active"
    class="control-label"
    [ngStyle]="label.style"
    [ngClass]="label.styleClass"
  >
    {{ global.recursiveObject(label, value) | translate }}
    <span *ngIf="required" class="text-danger">*</span>
    <small
      class="form-text text-muted"
      *ngIf="labelSubtitle && labelSubtitle.active"
      >{{ global.recursiveObject(labelSubtitle, value) | translate }}</small
    >
  </label>

  <div
    class="custom"
    *ngIf="textEditor"
    [ngStyle]="style"
    [ngClass]="styleClass"
    [class.is-valid]="
      formText.valid && formText.valid.active && !validationInput
    "
    [class.is-invalid]="
      formText.invalid && formText.invalid.active && validationInput
    "
  >
    <quill-editor
      [attr.placeholder]="placeholder"
      [attr.readonly]="readonly"
      [attr.minLength]="minLength"
      [attr.maxLength]="maxLength"
      [attr.rows]="rows"
      [styles]="{ height: '400px' }"
      [(ngModel)]="value[parentBinding][bindingObject]"
      (ngModelChange)="onChange($event)"
    >
    </quill-editor>
  </div>

  <textarea
    *ngIf="!textEditor"
    class="form-control"
    [ngStyle]="style"
    [ngClass]="styleClass"
    [class.is-valid]="
      formText.valid && formText.valid.active && !validationInput
    "
    [class.is-invalid]="
      formText.invalid && formText.invalid.active && validationInput
    "
    [class.form-control-rounded]="roundedInput"
    (keyup)="onKeyUp($event)"
    (blur)="onBlur($event)"
    [(ngModel)]="value[parentBinding][bindingObject]"
    (ngModelChange)="onChange($event)"
    [attr.placeholder]="placeholder"
    [attr.readonly]="readonly"
    [attr.minLength]="minLength"
    [attr.maxLength]="maxLength"
    [attr.rows]="rows"
  ></textarea>
  <ng-container *ngIf="formText">
    <small
      class="form-text text-success"
      *ngIf="formText.valid && formText.valid.active && !validationInput"
    >
      {{ formText.valid.text | translate }}</small
    >
    <small
      class="form-text text-danger"
      *ngIf="formText.invalid && formText.invalid.active && validationInput"
      >{{ formText.invalid.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.info && formText.info.active"
      >{{ formText.info.text | translate }}</small
    >
    <small
      class="form-text text-info"
      *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
      [innerHTML]="formText.infoInnerHTML.text"
    ></small>
  </ng-container>
</div>
