<div
  class="nav-item messages dropdown"
  dropdown
  [insideClick]="true"
  placement="bottom right"
  (isOpenChange)="onOpenChange($event)"
>
  <app-nav-link
    class="dropdown-toggle"
    [class.text-dark]="!dark"
    [dark]="dark"
    dropdownToggle
  >
    <i-feather name="inbox" class="ring"></i-feather>
    <span class="badge badge-pill badge-info">9</span>
  </app-nav-link>

  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <div
      class="dropdown-heading d-flex align-items-center justify-content-between"
    >
      <h6 class="m-0 text-uppercase bold">Messages</h6>
      <small class="text-muted">
        <span class="bold number" *ngIf="messages && messages.length">{{
          messages.length
        }}</span>
        {{ 'unread' | translate }}
      </small>
    </div>

    <ng-container *ngIf="messages && messages.length; else loading">
      <app-fade-content contentClass="list list-hover dropdown-body">
        <a
          href="javascript:;"
          class="list-group-item list-group-item-action"
          *ngFor="let message of messages"
        >
          <div class="media">
            <img
              [src]="message.from.picture"
              class="rounded-circle mr-3 shadow"
              alt=""
            />

            <div class="media-body">
              <p class="mb-0 d-flex w-100 justify-content-between">
                <span class="semi-bold mb-1 text-capitalize">{{
                  message.from.name | translate
                }}</span>
                <small class="text-muted small">{{ message.time }}</small>
              </p>

              <p class="small text-muted mb-0">
                {{ message.message | translate }}
              </p>
            </div>
          </div>
        </a>
      </app-fade-content>

      <div class="dropdown-footer text-center">
        <a href="javascript:;" title="">
          <i-feather name="more-horizontal"></i-feather>
        </a>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="px-3">
        <app-loader
          template="user-messages"
          [isLoading]="isLoading"
        ></app-loader>
      </div>
    </ng-template>
  </div>
</div>
