@import "import";

.guide {
  img {
    width: 100px;
    margin-bottom: 10px;
  }
  font-size: 18px;
  a:hover {
    color: rgb(62, 90, 180);
  }
}

.email-verify-content {
  margin: 20px;
  text-align: center;
  background: white;
  padding: 20px;

  .email-verify-image {
    img {
      width: 300px;
    }
  }

  .email-verify-text {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.balance-empty-image {
  img {
    width: 325px;
  }
}

.balance-empty-content {
  margin: 20px;
  text-align: center;
  background: white;
  padding: 20px;

  .balance-empty-image {
    img {
      width: 325px;
    }
  }

  .balance-empty-text {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .balance-empty-sub-button {
    margin-top: 20px;
  }
}

.img-responsive {
  max-width: 194px;
  margin: 0 auto;
}

.static {
  &-shape {
    position: absolute;

    &.shape {
      &-circle {
        opacity: 0.25;

        &-1 {
          right: 0;
          top: 0;
          transform: translate3d(25%, -50%, 0);

          div {
            @include circle-variant(300px, $gray-300);
          }
        }
      }

      &-ring {
        left: 0;
        bottom: 0;

        &-1 {
          transform: translate3d(-50%, 50%, 0);

          .animation {
            @include ring-variant(150px, 3px, $gray-200);
            animation-duration: 45s;
          }
        }

        .animation {
          border-style: dashed;
        }
      }
    }
  }
}
