<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Dashboard',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'Overall',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-card>
        <app-card-body>
          <ngx-skeleton
            height="24px"
            margin="0 0 8px 0"
            width="100%"
          ></ngx-skeleton>
          <ngx-skeleton
            height="24px"
            margin="0 0 8px 0"
            width="100%"
          ></ngx-skeleton>
          <ngx-skeleton
            height="24px"
            margin="0 0 8px 0"
            width="100%"
          ></ngx-skeleton>
          <ngx-skeleton
            height="24px"
            margin="0 0 8px 0"
            width="75%"
          ></ngx-skeleton>
        </app-card-body>
      </app-card>
    </div>
  </div>
</div>
