<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Delete Goods' | translate }}
</div>

<div class="modal-body" perfectScrollbar>
  <app-alert
    [scheme]="'danger'"
    [background]="'danger'"
    [style]="'outline'"
    [withIcon]="true"
    [icon]="'faTrashAlt'"
  >
    <div class="text-white">
      {{ 'Are you sure to delete' | translate }} {{ name }}?
    </div>
  </app-alert>
</div>

<div class="modal-footer">
  <button class="btn btn-light" (click)="close()">
    {{ 'Close' | translate }}
  </button>
  <button class="btn btn-danger" (click)="submit()" [disabled]="!name">
    <app-icon [icon]="'faTrashAlt'" [size]="'md'" class="mr-1"></app-icon>
    {{ 'Delete' | translate }}
  </button>
</div>
