<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Detail Out Stock' | translate }}
</div>

<div class="modal-body table-modal" perfectScrollbar>
  <div [ngStyle]="{}" [ngClass]="''">
    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="selectedActive ? 'col-md-8 col-xl-9' : 'col-md-12'">
          <ng-container *ngIf="isCard; else tableContent">
            <div [ngStyle]="{}" [ngClass]="''">
              <div class="row select-purchaser mb-4">
                <div class="col-md-6">
                  <div class="purchaser">
                    <div class="purchaser-title mb-2">
                      {{ 'Purchaser' | translate }}:
                    </div>
                    <div>
                      {{ 'Name' | translate }}:
                      <b>{{ formData.users.name | translate }}</b>
                    </div>
                    <div>
                      {{ 'Phone Number' | translate }}:
                      <b>{{ formData.users.phoneNumber | translate }}</b>
                    </div>
                    <div>
                      {{ 'Address' | translate }}: <br /><b>{{
                        formData.users.address | translate
                      }}</b>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <div>
                    {{ 'Date' | translate }}:
                    <b>
                      <ng-container
                        *ngTemplateOutlet="
                          isToSeconds;
                          context: { itemData: formData.date }
                        "
                      >
                      </ng-container>
                    </b>
                  </div>
                </div>
              </div>
            </div>

            <app-card>
              <app-card-header [title]="'Goods' | translate">
                <div card-tools></div>
              </app-card-header>
              <app-card-body>
                <ng-container *ngTemplateOutlet="tableContent"></ng-container>
              </app-card-body>
            </app-card>

            <div class="row">
              <div class="col-md-8">
                <div class="form-body">
                  <div class="desc">
                    <div>{{ 'Description' | translate }}:</div>
                    <div>
                      {{ formData.description ? formData.description : '-' }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="total-goods">
                  {{ 'Total Goods' | translate }}: {{ formData.totalGoods }}
                </div>
                <div class="total-price">
                  {{ 'Total Price' | translate }}:
                  {{
                    formData.totalPrice
                      | accounting
                        : selectedBusiness.currency.align
                        : selectedBusiness.currency.precision
                        : selectedBusiness.currency.decimal
                        : selectedBusiness.currency.prefix
                        : selectedBusiness.currency.suffix
                        : selectedBusiness.currency.thousands
                        : selectedBusiness.currency.nullable
                  }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="selectedActive"> </ng-container>
      </div>
    </div>
  </div>

  <ng-template #tableContent>
    <ng-container *ngIf="data; else loadingList">
      <ngx-datatable
        #tableGoods
        class="ngx-datatable {{ currentStyles }}"
        [messages]="messages"
        [ngClass]="{
          listview: !isTableView,
          table: isTableView,
          'collapsed-list': isListCollapsed
        }"
        [class.responsive]="responsive"
        [class.expandable]="responsiveExpandable"
        [rows]="data"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="headerHeight"
        [rowHeight]="rowHeight"
        [footerHeight]="footerHeight"
        [scrollbarV]="scrollbarV"
        [scrollbarH]="scrollbarH"
        [limit]="limit"
        [selected]="selected"
        [selectionType]="SelectionType.checkbox"
        [selectAllRowsOnPage]="selectAllRowsOnPage"
        (select)="onSelect($event)"
        (onPage)="onPage($event)"
      >
        <ngx-datatable-column
          *ngFor="let column of columns"
          [name]="column.header | translate"
          [prop]="column.name"
          [width]="column.width ? column.width : 'auto'"
          [sortable]="column.sortable"
          [canAutoResize]="column.canAutoResize"
          [draggable]="column.draggable"
          [resizeable]="column.resizeable"
        >
          <ng-template
            let-rowIndex="rowIndex"
            let-branch="row"
            let-item="value"
            ngx-datatable-cell-template
          >
            <ng-container *ngIf="column.name === 'index'">
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
              {{ rowIndex + 1 }}
            </ng-container>
            <ng-container *ngIf="column.name === 'name'">
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
              {{ item }}
            </ng-container>
            <ng-container *ngIf="column.name === 'serialNumber'">
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
              {{ item }}
            </ng-container>
            <ng-container *ngIf="column.name === 'price'">
              <ng-container *ngIf="isTableResponse"
                ><b>{{ column.header | translate }}</b
                >:
              </ng-container>
              {{
                item
                  | accounting
                    : selectedBusiness.currency.align
                    : selectedBusiness.currency.precision
                    : selectedBusiness.currency.decimal
                    : selectedBusiness.currency.prefix
                    : selectedBusiness.currency.suffix
                    : selectedBusiness.currency.thousands
                    : selectedBusiness.currency.nullable
              }}
            </ng-container>
            <ng-container
              *ngIf="column.name === 'created' || column.name === 'updated'"
            >
              <div>
                <ng-container *ngIf="isTableResponse"
                  ><b>{{ column.header | translate }}</b
                  >:
                </ng-container>
              </div>
              <span *ngIf="item && item.constructor.name === 'Object'">
                <ng-container
                  *ngTemplateOutlet="isToSeconds; context: { itemData: item }"
                ></ng-container>
              </span>
              <span *ngIf="item && item.constructor.name != 'Object'">
                <ng-container
                  *ngTemplateOutlet="isToDate; context: { itemData: item }"
                ></ng-container>
              </span>
              <span *ngIf="!item">{{ 'Loading' | translate }}...</span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer *ngIf="pagination.active">
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div class="page-count">
              <span *ngIf="selectedMessage">
                {{ selectedCount.toLocaleString() | translate }}
                {{ selectedMessage | translate }} /
              </span>
              {{ rowCount.toLocaleString() | translate }}
              {{ pagination.labelTotalMessage | translate }}
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="tableGoods.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </ng-container>

    <ng-template #loadingList>
      <app-loader
        [template]="'list'"
        [isLoading]="true"
        [count]="4"
      ></app-loader>
    </ng-template>
  </ng-template>

  <ng-template #isToSeconds let-itemData="itemData">
    <ng-container *ngIf="itemData?.seconds">
      {{ itemData?.seconds * 1000 | date }} <br />
      <span class="small">
        {{ itemData?.seconds * 1000 | date: 'hh:mm:ss a' }}
      </span>
    </ng-container>
  </ng-template>
  <ng-template #isToDate let-itemData="itemData">
    <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
      {{ itemData?.toDate() | date }} <br />
      <span class="small">
        {{ itemData?.toDate() | date: 'hh:mm:ss a' }}
      </span>
    </ng-container>
    <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
      <ng-container
        *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
      ></ng-container>
    </ng-container>
  </ng-template>
</div>

<div class="modal-footer">
  <button class="btn btn-light mr-2" (click)="closeModal()">
    {{ 'Close' | translate }}
  </button>
</div>

<ng-template #isToSeconds let-itemData="itemData">
  <ng-container *ngIf="itemData?.seconds">
    {{ itemData?.seconds * 1000 | date }} <br />
    <span class="small">
      {{ itemData?.seconds * 1000 | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
</ng-template>
<ng-template #isToDate let-itemData="itemData">
  <ng-container *ngIf="itemData && itemData.constructor.name === 'Object'">
    {{ itemData?.toDate() | date }} <br />
    <span class="small">
      {{ itemData?.toDate() | date: 'hh:mm:ss a' }}
    </span>
  </ng-container>
  <ng-container *ngIf="itemData && itemData.constructor.name != 'Object'">
    <ng-container
      *ngTemplateOutlet="isToSeconds; context: { itemData: itemData }"
    ></ng-container>
  </ng-container>
</ng-template>
