<address>
  <div class="address-element" *ngIf="!addressHidden">
    <app-icon [icon]="icons.location" class="icon"></app-icon>
    <div #addressView>
      <ng-content></ng-content>
    </div>
  </div>

  <div class="address-element" *ngIf="url">
    <app-icon [icon]="icons.link" class="icon"></app-icon>
    {{ url }}
  </div>

  <div class="address-element" *ngIf="email">
    <app-icon [icon]="icons.mail" class="icon"></app-icon>
    {{ email }}
  </div>

  <div class="address-element" *ngIf="phone">
    <app-icon [icon]="icons.phone" class="icon"></app-icon>
    {{ phone }}
  </div>
</address>
