<div class="container-fluid" *ngIf="isContainer; else tabsContent">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="isCard; else tabsContent">
        <app-card>
          <app-card-header
            *ngIf="title"
            [title]="global.recursiveObject(title, value) | translate"
          ></app-card-header>
          <app-card-body>
            <ng-container *ngTemplateOutlet="tabsContent"></ng-container>
          </app-card-body>
        </app-card>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #tabsContent>
  <tabset
    type="tabs {{ tabsClean ? 'tabs-clean' : '' }} {{
      tabsBordered ? 'tabs-bordered' : ''
    }} tabs-justify-{{ positionTabs }} {{ pills ? pills : '' }} {{
      slide ? 'slide-left' : ''
    }}"
    class="standard-padding-tab"
  >
    <tab
      *ngFor="let tab of tabs; let i = index"
      [attr.disabled]="checkDisabledTabs(tab)"
      (selectTab)="onCallbackAction(tab.path)"
      [active]="tab.selected"
    >
      <ng-template tabHeading>
        <app-icon
          *ngIf="tab.icon && tab.icon.active"
          class="icon mr-2"
          [ngClass]="tab.icon.styleClass"
          [icon]="tab.icon.image"
        ></app-icon>
        <span *ngIf="tab.label.active" [ngClass]="tab.label.styleClass">{{
          global.recursiveObject(tab.label, value) | translate
        }}</span>
      </ng-template>
      <ng-content></ng-content>
    </tab>
  </tabset>
</ng-template>
