<div class="flex align-items-center">
  <label *ngIf="hideMobile" class="select-label mr-3">
    {{ 'Select Business' | translate }} :
  </label>
  <ng-select
    #customSearchSelect
    [name]="'test'"
    ngDefaultControl
    [ngStyle]="style"
    [ngClass]="'select-business'"
    [class.is-valid]="
      formText.valid && formText.valid.active && !validationInput
    "
    [class.is-invalid]="
      formText.invalid && formText.invalid.active && validationInput
    "
    [items]="data"
    [bindLabel]="'businessName'"
    [bindValue]="'key'"
    [labelForId]="''"
    [searchable]="true"
    [multiple]="false"
    [hideSelected]="hideSelected"
    [maxSelectedItems]="1"
    [closeOnSelect]="true"
    [groupBy]="groupBy"
    [clearable]="false"
    [selectableGroup]="selectableGroup"
    [selectableGroupAsModel]="selectableGroupAsModel"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    [placeholder]="'Select Business' | translate"
  >
    <ng-container *ngIf="customSearch">
      <ng-template ng-header-tmp>
        <div class="form-group mb-0 has-icon icon-left">
          <input
            class="form-control"
            type="text"
            (input)="customSearchSelect.filter($event.target.value)"
            placeholder="Search..."
          />
          <app-icon [icon]="'faSearch'" class="icon"></app-icon>
        </div>
      </ng-template>
    </ng-container>
  </ng-select>
</div>
