<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Edit Accounting' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="form-group">
      <div class="form-body">
        <label class="control-label label-align">
          {{ 'Align' | translate }} <span class="text-danger">*</span>
        </label>
        <select
          class="form-control"
          [class.is-invalid]="
            form.get('align').invalid && form.get('align').touched
          "
          formControlName="align"
        >
          <option value="left">{{ 'Left' | translate }}</option>
          <option value="right">{{ 'Right' | translate }}</option>
        </select>
        <div
          class="form-required"
          *ngIf="form.get('align').invalid && form.get('align').touched"
        >
          {{ 'Align is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-precision">
          {{ 'Precision' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'number'"
          [attr.placeholder]="'Input your Precision' | translate"
          max="5"
          [class.is-invalid]="
            form.get('precision').invalid && form.get('precision').touched
          "
          formControlName="precision"
        />
        <div
          class="form-required"
          *ngIf="form.get('precision').invalid && form.get('precision').touched"
        >
          {{ 'Precision is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-decimal">
          {{ 'Decimal' | translate }} <span class="text-danger">*</span>
        </label>
        <select
          class="form-control"
          [class.is-invalid]="
            form.get('decimal').invalid && form.get('decimal').touched
          "
          formControlName="decimal"
        >
          <option value="."
            >{{ '.' | translate }} ({{ 'Dot' | translate }})</option
          >
          <option value=","
            >{{ ',' | translate }} ({{ 'Koma' | translate }})</option
          >
        </select>
        <div
          class="form-required"
          *ngIf="form.get('decimal').invalid && form.get('decimal').touched"
        >
          {{ 'Decimal is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-prefix">
          {{ 'Prefix' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'text'"
          [attr.placeholder]="'Input your Prefix' | translate"
          [class.is-invalid]="
            form.get('prefix').invalid && form.get('prefix').touched
          "
          formControlName="prefix"
        />
        <div
          class="form-required"
          *ngIf="form.get('prefix').invalid && form.get('prefix').touched"
        >
          {{ 'Prefix is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-suffix">
          {{ 'Suffix' | translate }}
        </label>
        <input
          class="form-control"
          [type]="'text'"
          [attr.placeholder]="'Input your Suffix' | translate"
          [class.is-invalid]="
            form.get('suffix').invalid && form.get('suffix').touched
          "
          formControlName="suffix"
        />
        <div
          class="form-required"
          *ngIf="form.get('suffix').invalid && form.get('suffix').touched"
        >
          {{ 'Suffix is invalid' | translate }}
        </div>
      </div>
      <div class="form-body last">
        <label class="control-label label-thousands">
          {{ 'Thousands' | translate }} <span class="text-danger">*</span>
        </label>
        <select
          class="form-control"
          [class.is-invalid]="
            form.get('thousands').invalid && form.get('thousands').touched
          "
          formControlName="thousands"
        >
          <option value="."
            >{{ '.' | translate }} ({{ 'Dot' | translate }})</option
          >
          <option value=","
            >{{ ',' | translate }} ({{ 'Koma' | translate }})</option
          >
        </select>
        <div
          class="form-required"
          *ngIf="form.get('thousands').invalid && form.get('thousands').touched"
        >
          {{ 'Thousands is invalid' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light mr-2" (click)="close()">
      {{ 'Close' | translate }}
    </button>
    <button
      class="btn btn-primary text-white"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
      {{ 'Submit' | translate }}
    </button>
  </div>
</form>
