<ng-container *ngIf="!schema?.state?.hide">
  <div *ngTemplateOutlet="contentText"></div>
</ng-container>

<ng-template #contentText>
  <div
    [ngStyle]="style"
    [ngClass]="styleClass"
    [innerHTML]="global.recursiveObject(label, value)"
  ></div>
</ng-template>
