// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

// Color system

$primary: $color-primary !default;
$secondary: $color-secondary !default;
$success: $color-success !default;
$info: $color-info !default;
$warning: $color-warning !default;
$danger: $color-danger !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$gray: $color-gray !default;
$gray-light: $color-gray-light !default;

$theme-colors: () !default;
$theme-colors: (
  gray: $gray,
  gray-light: $gray-light,
  alternate: $color-alternate,
  contrast: $color-contrast,
  darker: $color-darker,
  black: $color-black,
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret: false !default;
//$enable-shadows: true;
//$enable-gradients: true;
$enable-responsive-font-sizes: true !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;

$spacers: () !default;
$spacers: (
  6: (
    $spacer * 6,
  ),
  7: (
    $spacer * 7,
  ),
  8: (
    $spacer * 8,
  ),
  9: (
    $spacer * 9,
  ),
  10: (
    $spacer * 12,
  ),
  11: (
    $spacer * 14,
  ),
  12: (
    $spacer * 16,
  ),
  13: (
    $spacer * 18,
  ),
  14: (
    $spacer * 20,
  ),
  15: (
    $spacer * 22,
  ),
);

// Body
//
// Settings for the `<body>` element.

$body-color: $color-5-light !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
) !default;

// Links
//
// Style anchor elements.

$link-color: $color-dark !default;

// Components
//
// Define common padding and border radius sizes and more.
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;

$dropdown-item-padding-y: 0.55rem !default;
$dropdown-item-padding-x: 1.75rem !default;

$dropdown-link-active-color: $color-primary !default;
$dropdown-link-active-bg: $gray-100 !default;

$breadcrumb-padding-x: 30px !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Poppins", sans-serif !default;

// 1rem Assumes the browser default, typically `16px`
$font-size-base: 0.8rem !default;

$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 900 !default;

$font-weight-base: $font-weight-light !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: $font-weight-normal !default;
$headings-font-color: $color-primary !default;

$text-muted: $gray-600 !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.125rem !default;
$table-cell-padding-sm: 0.3rem !default;

$table-color: $body-color !default;
$table-bg: null !default;
$table-accent-bg: $striped-bg-color !default; // table stripped
$table-hover-color: $table-color !default;
$table-hover-bg: $striped-bg-color-hover !default; // table hover
$table-active-bg: $table-hover-bg !default;

$table-border-width: $border-width !default;
$table-border-color: $color-5-light-5x !default;

$table-head-bg: $gray-100 !default;
$table-head-color: $gray-600 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: 0.55rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-font-family: $font-family-base !default;
$input-btn-focus-box-shadow: none !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-font-size: 0.75rem !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: none !default;
$btn-focus-width: 0 !default;

// Cards
$card-spacer-y: 1.25rem !default;
$card-border-color: $color-5-light-5x !default;
$card-border-radius: 0.5rem !default;

// Tooltips

//$tooltip-font-size:                 $font-size-sm !default;
//$tooltip-max-width:                 200px !default;
$tooltip-color: $body-color !default;
$tooltip-bg: $white !default;
//$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity: 1 !default;
$tooltip-padding-y: 0.75rem !default;
$tooltip-padding-x: 1rem !default;
//$tooltip-margin:                    0 !default;

//$tooltip-arrow-width:               .8rem !default;
//$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color: $tooltip-bg !default;

// Popovers

//$popover-font-size:                 $font-size-sm !default;
$popover-bg: $tooltip-bg !default;
//$popover-max-width:                 276px !default;
$popover-border-width: 0px !default;
//$popover-border-color:              rgba($black, .2) !default;
//$popover-border-radius:             $border-radius-lg !default;
//$popover-box-shadow:                $dropdown-box-shadow !default;

$popover-header-bg: $popover-bg !default;
//$popover-header-color: $headings-color !default;
$popover-header-padding-y: $tooltip-padding-y !default;
$popover-header-padding-x: $tooltip-padding-x !default;

$popover-body-color: $tooltip-color !default;
$popover-body-padding-y: $popover-header-padding-y !default;
$popover-body-padding-x: $popover-header-padding-x !default;

//$popover-arrow-width: 1rem !default;
//$popover-arrow-height: 0.5rem !default;
$popover-arrow-color: $popover-bg !default;
$popover-arrow-outer-color: $popover-bg !default;

// List group
$list-group-hover-bg: $striped-bg-color !default;
$list-group-item-padding-y: 1rem !default;
$list-group-bg: transparent !default;

// Forms
$input-color: $gray-700 !default;
$input-border-color: $gray-300 !default;
$input-color-focus: $gray-900 !default;
$input-focus-border-color: $color-primary !default;

// Custom Forms - Some overrides for Bootstrap default custom forms
$custom-switch-width: 2.5rem !default;
$custom-switch-indicator-size: 1rem !default;
$custom-switch-indicator-border-radius: $custom-switch-indicator-size / 2 !default;

$custom-switch-height: 1.375rem !default;
$custom-switch-spacing: ($custom-switch-height - $custom-switch-indicator-size) /
  2 !default;
//$custom-switch-indicator-bg: $white !default;
//$custom-switch-indicator-active-bg: $white !default;

$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.4rem !default;
$badge-font-weight: $font-weight-semi-bold !default;
