<app-sidenav
  [class.mobile-hidden]="mobileCollapsed"
  [collapsed]="sidenavCollapsed"
  [fixed]="fixedSidenav"
  (sideNavToggled)="onSidenavToggled($event)"
></app-sidenav>

<app-main-body
  [ngClass]="{
    'sidenav-collapsed': sidenavCollapsed,
    'quick-sidenav-expanded': !isQuickSidenavCollapsed
  }"
>
  <app-header [fixed]="fixedHeader">
    <app-header-toolbar
      [sidenavCollapsed]="sidenavCollapsed"
      [quickSidenavCollapsed]="isQuickSidenavCollapsed"
      (sidenavToggled)="onSidenavToggled($event)"
      (quickSidenavToggled)="onQuickSidenavToggled($event)"
    >
    </app-header-toolbar>
  </app-header>

  <main class="body-wrapper">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</app-main-body>

<!-- <app-quick-sidenav [collapsed]="isQuickSidenavCollapsed"></app-quick-sidenav> -->

<app-page-overlay
  *ngIf="!isQuickSidenavCollapsed"
  class="quick-sidenav-overlay"
>
  <fa-icon
    [icon]="closeIcon"
    class="close"
    (click)="onQuickSidenavToggled(true)"
  ></fa-icon>
</app-page-overlay>
