/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme customization

// scss-lint:enable ImportantRule

@import "theme/theme";

.toast-info {
  .toast-title {
    color: #0b5289 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #0b5289 !important;
    }
  }

  .toast-message {
    color: #1269ac !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #0b5289 !important;
  }
}

.toast-success {
  .toast-title {
    color: #0b7675 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #0b7675 !important;
    }
  }

  .toast-message {
    color: #18a09e !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #0b7675 !important;
  }
}

.toast-warning {
  .toast-title {
    color: #8f6d4c !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #8f6d4c !important;
    }
  }

  .toast-message {
    color: #b3885d !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #8f6d4c !important;
  }
}

.toast-error {
  .toast-title {
    color: #8a2a45 !important;
    font-size: 16px !important;
  }

  .toast-close-button {
    span {
      color: #8a2a45 !important;
    }
  }

  .toast-message {
    color: #a73153 !important;
  }

  .toast-progress {
    opacity: 0.8 !important;
    background: #8a2a45 !important;
  }
}

.datatable-scroller {
  width: 100% !important;
}
