<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<app-page-header
  [pre]="{
    active: false,
    binding: false,
    text: 'Dashboard',
    type: 'text',
    styleClass: ''
  }"
  [title]="{
    active: false,
    binding: false,
    text: 'Overall',
    type: 'text',
    styleClass: ''
  }"
>
</app-page-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 order-md-last">
      <app-card *ngIf="flag.business">
        <app-card-body *ngIf="warehouses && warehouses.length > 0">
          <div class="mt-2">
            <component-select
              *ngIf="value.dataWarehouse"
              [schema]="schemaWarehouseSelect"
              [value]="value"
              (callback)="callbackWarehouse($event)"
            >
            </component-select>
          </div>
        </app-card-body>
        <app-card-body *ngIf="warehouses && warehouses.length === 0">
          <h5 class="bold mb-1">{{ 'Warehouse' | translate }}</h5>

          <div class="text-center">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-10">
                <div class="profile-action">
                  <p class="text-muted mt-2">
                    {{
                      'Empty Warehouse, please add an warehouse to get started :)'
                        | translate
                    }}
                  </p>
                  <button
                    class="btn btn-primary text-white"
                    [routerLink]="'/master/warehouse'"
                  >
                    <app-icon
                      [icon]="'faBoxes'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Add Warehouse' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </app-card-body>
      </app-card>
      <app-card *ngIf="!flag.business">
        <app-card-body>
          <h5 class="bold mb-1">{{ 'Business' | translate }}</h5>

          <div class="text-center">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-10">
                <div class="profile-action">
                  <div class="balance-empty-image">
                    <img [src]="'assets/img/business.png'" />
                  </div>
                  <p class="text-muted mt-2">
                    {{ 'Add Business First to get started!' | translate }}
                  </p>
                  <button
                    class="btn btn-primary text-white"
                    [routerLink]="'/settings/business'"
                  >
                    <app-icon
                      [icon]="'faPlus'"
                      [size]="'md'"
                      class=""
                    ></app-icon>
                    {{ 'Add Business' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </app-card-body>
      </app-card>

      <div
        class="row"
        *ngIf="
          selectedBusiness &&
          selectedBusinessValue &&
          selectedWarehouse &&
          selectedWarehouseValue
        "
      >
        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsGoodsCategory && selectedBusiness && selectedBusinessValue
          "
        >
          <app-value-widget
            [title]="statisticsGoodsCategory.title"
            [value]="statisticsGoodsCategory.value"
            [percent]="statisticsGoodsCategory.percent"
            [percentActive]="statisticsGoodsCategory.percentActive"
            [scheme]="statisticsGoodsCategory.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container *ngIf="!statisticsGoodsCategory">
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsGoodsUnit && selectedBusiness && selectedBusinessValue
          "
        >
          <app-value-widget
            [title]="statisticsGoodsUnit.title"
            [value]="statisticsGoodsUnit.value"
            [percent]="statisticsGoodsUnit.percent"
            [percentActive]="statisticsGoodsUnit.percentActive"
            [scheme]="statisticsGoodsUnit.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container *ngIf="!statisticsGoodsUnit">
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsSuppliers && selectedBusiness && selectedBusinessValue
          "
        >
          <app-value-widget
            [title]="statisticsSuppliers.title"
            [value]="statisticsSuppliers.value"
            [percent]="statisticsSuppliers.percent"
            [percentActive]="statisticsSuppliers.percentActive"
            [scheme]="statisticsSuppliers.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container *ngIf="!statisticsSuppliers">
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsPurchasers && selectedBusiness && selectedBusinessValue
          "
        >
          <app-value-widget
            [title]="statisticsPurchasers.title"
            [value]="statisticsPurchasers.value"
            [percent]="statisticsPurchasers.percent"
            [percentActive]="statisticsPurchasers.percentActive"
            [scheme]="statisticsPurchasers.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container *ngIf="!statisticsPurchasers">
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsInStock && selectedWarehouse && selectedWarehouseValue
          "
        >
          <app-value-widget
            [title]="statisticsInStock.title"
            [value]="statisticsInStock.value"
            [percent]="statisticsInStock.percent"
            [percentActive]="statisticsInStock.percentActive"
            [scheme]="statisticsInStock.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container
          *ngIf="
            !statisticsInStock && selectedWarehouse && selectedWarehouseValue
          "
        >
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsOutStock && selectedWarehouse && selectedWarehouseValue
          "
        >
          <app-value-widget
            [title]="statisticsOutStock.title"
            [value]="statisticsOutStock.value"
            [percent]="statisticsOutStock.percent"
            [percentActive]="statisticsOutStock.percentActive"
            [scheme]="statisticsOutStock.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container
          *ngIf="
            !statisticsOutStock && selectedWarehouse && selectedWarehouseValue
          "
        >
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>

        <div
          class="col-xs-12 col-sm-12 col-md-6"
          *ngIf="
            statisticsGoodsWarehouse &&
            selectedWarehouse &&
            selectedWarehouseValue
          "
        >
          <app-value-widget
            [title]="statisticsGoodsWarehouse.title"
            [value]="statisticsGoodsWarehouse.value"
            [percent]="statisticsGoodsWarehouse.percent"
            [percentActive]="statisticsGoodsWarehouse.percentActive"
            [scheme]="statisticsGoodsWarehouse.scheme"
          >
          </app-value-widget>
        </div>
        <ng-container
          *ngIf="
            !statisticsGoodsWarehouse &&
            selectedWarehouse &&
            selectedWarehouseValue
          "
        >
          <div class="col-6" *ngFor="let item of [0]">
            <app-loader
              [template]="'list'"
              [isLoading]="true"
              [count]="2"
            ></app-loader>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <app-card class="overflow-hidden">
        <div class="shapes-wrapper">
          <div class="static-shape shape-circle shape-circle-1">
            <div></div>
          </div>

          <div class="static-shape shape-ring shape-ring-1">
            <div class="animation animation-rotating-clockwise"></div>
          </div>
        </div>

        <app-card-body class="text-center" *ngIf="site">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
              <img
                [src]="site.favicon.downloadURL"
                alt="..."
                class="img-responsive"
              />

              <p class="text-muted mt-3 mb-2">
                {{
                  'Manage your stock in your warehouse with this inventory management application. Improve your logistics with'
                    | translate
                }}
                {{ site.name }}
              </p>
            </div>
          </div>
        </app-card-body>
      </app-card>
    </div>
  </div>
</div>
