<div [ngSwitch]="style" class="navigation-container">
  <ng-container *ngSwitchCase="NavigationStyle.PrevNext">
    <app-wizard-navigation-prev-next
      [selectedIndex]="selectedIndex"
      [doneUrl]="doneUrl"
      [doneText]="doneText"
      [isLastStep]="selectedIndex === steps.length - 1"
    ></app-wizard-navigation-prev-next>
  </ng-container>

  <ng-container *ngSwitchCase="NavigationStyle.Bullet">
    <app-wizard-navigation-bullet
      [selectedIndex]="selectedIndex"
      [doneUrl]="doneUrl"
      [doneText]="doneText"
      [isLastStep]="selectedIndex === steps.length - 1"
      [steps]="steps"
    ></app-wizard-navigation-bullet>
  </ng-container>
</div>
