<div
  class="menu-dropdown"
  dropdown
  placement="bottom right"
  [container]="appendToBody ? 'body' : ''"
>
  <app-nav-link class="dropdown-toggle" dropdownToggle>
    <div #iconView *ngIf="!iconHidden; else withIcon">
      <ng-content select="[menu-icon]"></ng-content>
    </div>

    <ng-template #withIcon>
      <app-icon icon="more-horizontal"></app-icon>
    </ng-template>
  </app-nav-link>

  <div *dropdownMenu class="dropdown-menu dropdown-menu-right py-2">
    <ng-content></ng-content>
  </div>
</div>
