<ng-template #loadingTemplate>
  <div class="component-loading">
    <div class="image">
      <img [src]="image" />
    </div>
    <div class="message">
      {{ text | translate }}
    </div>
  </div>
</ng-template>

<ng-container *ngIf="isLoading">
  <ngx-loading
    #ngxLoading
    [show]="isLoading"
    [config]="{
      animationType: animation,
      primaryColour: primaryColour,
      secondaryColour: secondaryColour,
      backdropBorderRadius: backdropBorderRadius,
      fullScreenBackdrop: true
    }"
    [template]="loadingTemplate"
  >
  </ngx-loading>
</ng-container>
