@import "import";

.component-loading {
  top: 0;
  z-index: 2002;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  .image {
    margin-top: -120px !important;

    img {
      height: 140px;
    }
  }

  .message {
    margin-top: 60px !important;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-size: 18px;
    font-weight: 600;
  }
}

ngx-loading {
  .backdrop {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .spinner-three-bounce {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
