<app-card [class.disabled]="isDisabled" [class.overflow-hidden]="!isOpen">
  <app-card-header
    class="accordion-group-header"
    (click)="toggleOpen()"
    [border]="false"
  >
    <div class="accordion-heading-content">
      <a href="javascript:;" class="card-title">
        <span *ngIf="heading">{{ heading | translate }}</span>
        <ng-content select="[accordion-heading]"></ng-content>
      </a>
    </div>

    <app-dropdown-icon class="ml-auto" [open]="isOpen"></app-dropdown-icon>
  </app-card-header>

  <div
    class="accordion-group-content"
    [collapse]="!isOpen"
    [isAnimated]="isAnimated"
  >
    <app-card-body>
      <ng-content></ng-content>
    </app-card-body>
  </div>
</app-card>
