<div class="text-center py-md-4">
  <h1 class="font-weight-thin my-5 mt-md-0">
    {{ 'Welcome to' | translate }} {{ site.name }}!
  </h1>

  <p class="lead text-dark mb-4">
    {{ starter.title | translate }}
  </p>

  <p>{{ starter.description | translate }}</p>
</div>
