<app-accordion
  class="accordion-collapsed"
  [ngStyle]="style"
  [ngClass]="styleClass"
>
  <app-accordion-group
    heading="{{ i + 1 }}. {{ item[title] }}"
    *ngFor="let item of value[bindingData]; let i = index"
  >
    <div [ngStyle]="styleContent" [ngClass]="styleClassContent">
      {{ item[content] | translate }}
    </div>
  </app-accordion-group>
</app-accordion>
