<div [ngStyle]="style" [ngClass]="styleClass">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="selectedActive ? 'col-md-8 col-xl-9' : 'col-md-12'">
        <ng-container *ngIf="isCard; else tableContent">
          <app-card>
            <app-card-header
              [title]="globalService.recursiveObject(title, value) | translate"
            >
              <div card-tools *ngIf="buttonHeader && buttonHeader.length > 0">
                <ng-container *ngFor="let schemaButton of buttonHeader">
                  <component-button
                    [schema]="schemaButton"
                    [value]="value"
                    [values]="value"
                    (callback)="onCallback($event)"
                    (callbackAction)="onCallbackAction($event)"
                  ></component-button>
                </ng-container>
              </div>
            </app-card-header>
            <app-card-body>
              <ng-container *ngTemplateOutlet="tableContent"></ng-container>
            </app-card-body>
          </app-card>
        </ng-container>
      </div>
      <ng-container *ngIf="selectedActive"> </ng-container>
    </div>
  </div>
</div>

<ng-template #filterInput>
  <div class="col-md-3">
    <component-input
      [schema]="filter.input"
      [value]="value"
      (callback)="onCallbackSearch($event, 'Input')"
      (callbackAction)="onCallbackAction($event)"
    >
    </component-input>
  </div>
</ng-template>

<ng-template #filterInputSelect>
  <ng-container *ngIf="filter.type === 'InputSelect'">
    <ng-container *ngTemplateOutlet="filterInput"></ng-container>
    <ng-container *ngTemplateOutlet="filterSelect"></ng-container>
  </ng-container>
</ng-template>

<ng-template #filterSelect>
  <div class="col-md-3">
    <component-select
      [schema]="filter.select"
      [value]="value"
      [values]="value"
      (callback)="onCallbackSearch($event, 'Select')"
      (callbackAction)="onCallbackAction($event)"
    >
    </component-select>
  </div>
</ng-template>

<ng-template #tableContent>
  <div *ngIf="filter && filter.active" class="row">
    <ng-container *ngIf="filter.type === 'Input'">
      <ng-container *ngTemplateOutlet="filterInput"></ng-container>
    </ng-container>
    <ng-container *ngIf="filter.type === 'Select'">
      <ng-container *ngTemplateOutlet="filterSelect"></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet="filterInputSelect"></ng-container>
  </div>
  <ng-container *ngIf="data; else loadingList">
    <ngx-datatable
      class="ngx-datatable {{ tableStyles }}"
      [messages]="messages"
      [ngClass]="{
        listview: !isTableView,
        table: isTableView,
        'collapsed-list': isListCollapsed
      }"
      [class.responsive]="responsive"
      [class.expandable]="responsiveExpandable"
      [rows]="data"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="headerHeight"
      [rowHeight]="rowHeight"
      [footerHeight]="footerHeight"
      [scrollbarV]="scrollbarV"
      [scrollbarH]="scrollbarH"
      [limit]="limit"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      [selectAllRowsOnPage]="selectAllRowsOnPage"
      (select)="onSelect($event)"
      (onPage)="onPage($event)"
    >
      <ngx-datatable-group-header
        [rowHeight]="50"
        (toggle)="onDetailToggle($event)"
        *ngIf="groupingActive"
      >
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <a
            href="javascript:;"
            class="d-flex align-items-center"
            title="Expand/Collapse Group"
            (click)="toggleExpandGroup(group)"
          >
            <app-nav-link>
              <app-dropdown-icon [open]="expanded"></app-dropdown-icon>
            </app-nav-link>
            <div class="ml-3">
              <span class="text-capitalize bold">{{
                group.value[0].country
              }}</span>
              <span class="text-muted small d-block"
                >{{ group.value.length }} users</span
              >
            </div>
          </a>
        </ng-template>
      </ngx-datatable-group-header>

      <ngx-datatable-column
        *ngFor="let column of columns"
        [name]="column.header | translate"
        [prop]="column.name"
        [width]="column.width ? column.width : 'auto'"
        [sortable]="column.sortable"
        [canAutoResize]="column.canAutoResize"
        [draggable]="column.draggable"
        [resizeable]="column.resizeable"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-branch="row"
          let-item="value"
          ngx-datatable-cell-template
        >
          <ng-container *ngIf="column.type === 'index'">
            {{ rowIndex + 1 }}
          </ng-container>
          <ng-container *ngIf="column.type === 'number'">
            {{ item }}
          </ng-container>
          <ng-container *ngIf="column.type === 'text'">
            {{ item | translate }}
          </ng-container>
          <ng-container *ngIf="column.type === 'link'">
            <a [href]="item" target="_blank">{{ item | translate }}</a>
          </ng-container>
          <ng-container *ngIf="column.type === 'price'">
            Rp{{ item | number: '1.0-2' }}
          </ng-container>
          <ng-container *ngIf="column.type === 'icon'">
            <app-icon [icon]="item"></app-icon>
          </ng-container>
          <ng-container *ngIf="column.type === 'storage'">
            <!-- <ng-container *ngIf="branch[column.type].fileType === 'image/svg+xml'">
              <a [href]="item" target="_blank">
                <component-svg
                  [src]="item"
                  [value]="value"
                  [class.iamge-right-app]="positionImage == 'right'"
                ></component-svg>
              </a>
            </ng-container> -->
            <ng-container
              *ngIf="
                (item.fileType && item.fileType === 'image/jpeg') ||
                (item.fileType && item.fileType === 'image/png') ||
                (item.fileType && item.fileType === 'image/svg+xml')
              "
            >
              <a
                [href]="column.nameObject ? item[column.nameObject] : item"
                target="_blank"
                ><img
                  [src]="column.nameObject ? item[column.nameObject] : item"
                  class="image-table"
                  [ngStyle]="column.style"
                  [ngClass]="column.styleClass"
              /></a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="column.type === 'timestamp'">
            <span
              *ngIf="item && item.constructor.name === 'Object'; else isToDate"
            >
              <ng-container *ngIf="item?.seconds">
                {{ item?.seconds * 1000 | date }} <br />
                <span class="small">
                  {{ item?.seconds * 1000 | date: 'hh:mm:ss a' }}
                </span>
              </ng-container>
            </span>
            <ng-template #isToDate>
              <ng-container *ngIf="item">
                {{ item?.toDate() | date }} <br />
                <span class="small">
                  {{ item?.toDate() | date: 'hh:mm:ss a' }}
                </span>
              </ng-container>
            </ng-template>
            <span *ngIf="!item">{{ 'Loading' | translate }}...</span>
          </ng-container>
          <ng-container *ngIf="column.type === 'action'">
            <div class="flex">
              <ng-container *ngFor="let schemaButton of column.buttons">
                <div class="mr-2">
                  <component-button
                    [schema]="schemaButton"
                    [value]="branch"
                    [values]="value"
                    (callback)="onCallback($event)"
                    (callbackAction)="onCallbackAction($event)"
                  ></component-button>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer *ngIf="pagination.active">
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div class="page-count">
            <span *ngIf="selectedMessage">
              {{ selectedCount.toLocaleString() | translate }}
              {{ selectedMessage | translate }} /
            </span>
            {{ rowCount.toLocaleString() | translate }}
            {{ pagination.labelTotalMessage | translate }}
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </ng-container>

  <ng-template #emptyButton>
    <div class="text-center">-</div>
  </ng-template>

  <ng-template #loadingList>
    <app-loader
      [template]="'list'"
      [isLoading]="isLoading"
      [count]="4"
    ></app-loader>
  </ng-template>
</ng-template>
