<app-loading
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
>
</app-loading>

<div class="modal-header">
  {{ 'Edit Personal Info' | translate }}
</div>

<form [formGroup]="form">
  <div class="modal-body" perfectScrollbar>
    <div class="form-group">
      <div class="form-body">
        <label class="control-label label-name">
          {{ 'Name' | translate }} <span class="text-danger">*</span>
        </label>
        <input
          class="form-control"
          [type]="'text'"
          [attr.placeholder]="'Input your Name' | translate"
          [class.is-invalid]="
            form.get('displayName').invalid && form.get('displayName').touched
          "
          formControlName="displayName"
        />
        <div
          class="form-required"
          *ngIf="
            form.get('displayName').invalid && form.get('displayName').touched
          "
        >
          {{ 'Name is invalid' | translate }}
        </div>
      </div>
      <div class="form-body">
        <label class="control-label label-phone-number">
          {{ 'Phone Number' | translate }}
        </label>
        <input
          class="form-control"
          [type]="'text'"
          mask="00000000000000"
          [maxlength]="14"
          [attr.placeholder]="'Input your Phone Number' | translate"
          [class.is-invalid]="
            form.get('phoneNumber').invalid && form.get('phoneNumber').touched
          "
          formControlName="phoneNumber"
        />
        <div
          class="form-required"
          *ngIf="
            form.get('phoneNumber').invalid && form.get('phoneNumber').touched
          "
        >
          {{ 'Phone Number is invalid' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light mr-2" (click)="close()">
      {{ 'Close' | translate }}
    </button>
    <button
      class="btn btn-primary text-white"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <app-icon [icon]="'faSave'" [size]="'md'" class="mr-1"></app-icon>
      {{ 'Submit' | translate }}
    </button>
  </div>
</form>
