<div class="side-wrapper">
  <tabset [justified]="true" type="tabs tabs-clean slide-left padded">
    <tab>
      <ng-template tabHeading>
        <app-icon icon="list" class="icon"></app-icon>
      </ng-template>
      <app-quick-sidenav-tasks></app-quick-sidenav-tasks>
    </tab>
    <tab>
      <ng-template tabHeading>
        <app-icon icon="users" class="icon"></app-icon>
      </ng-template>
      <app-quick-sidenav-contacts></app-quick-sidenav-contacts>
    </tab>
    <tab>
      <ng-template tabHeading>
        <app-icon icon="settings" class="icon"></app-icon>
      </ng-template>
      <app-quick-sidenav-settings></app-quick-sidenav-settings>
    </tab>
  </tabset>
</div>
