<app-radio-group
  [name]="name"
  [(ngModel)]="valueRadio"
  (ngModelChange)="onChange($event)"
>
  <div class="row">
    <app-radio-card
      *ngFor="let item of value[bindingData]"
      [id]="'template-driven-' + item.id"
      [value]="item"
      [checked]="item.checked"
      [showMark]="item.showMark"
      (callbackAction)="callbackRadio($event)"
      class="col-md-3"
      [theme]="ColorScheme.Primary"
    >
      <div class="text-center">
        <div class="text-center">
          <app-icon [icon]="item.icon.src" [size]="item.icon.size"></app-icon>
          <p
            class="mb-0 mt-3"
            *ngIf="item.labelBottom && item.labelBottom.active"
            [ngStyle]="item.labelBottom.style"
            [ngClass]="item.labelBottom.styleClass"
          >
            {{ item.labelBottom.text | translate }}
          </p>
        </div>
      </div>
    </app-radio-card>
    <ng-container *ngIf="formText">
      <div class="col-md-12">
        <small
          class="form-text text-success"
          *ngIf="formText.valid && formText.valid.active && !validationInput"
        >
          {{ formText.valid.text | translate }}</small
        >
        <small
          class="form-text text-danger"
          *ngIf="formText.invalid && formText.invalid.active && validationInput"
          >{{ formText.invalid.text | translate }}</small
        >
        <small
          class="form-text text-info"
          *ngIf="formText.info && formText.info.active"
          >{{ formText.info.text | translate }}</small
        >
        <small
          class="form-text text-info"
          *ngIf="formText.infoInnerHTML && formText.infoInnerHTML.active"
          [innerHTML]="formText.infoInnerHTML.text"
        ></small>
      </div>
    </ng-container>
  </div>
</app-radio-group>
