<app-loading
  *ngIf="loading"
  [isLoading]="loading.isLoading"
  [text]="loading.text"
  [primaryColour]="loading.primaryColour"
  [secondaryColour]="loading.secondaryColour"
  [animation]="loading.animation"
  [image]="loading.image"
></app-loading>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-4 col-lg-3 mx-auto bg-white order-md-last">
      <div class="login-form mt-5 mt-md-0">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div
      class="col-md-7 col-lg-8 fullscreen-md d-flex shell-bg justify-content-center align-items-center blanket alpha-8"
    >
      <div class="content">
        <div class="image-shell">
          <img
            src="assets/img/shell.png"
            class="img-responsive mb-4 mb-md-6"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
