@import "import";
@import "./../../../pages/base/base.component.scss";

#auth-shell {
  min-width: 300px;
}

.login-shadow {
  box-shadow: -5px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.shell-bg {
  background: rgb(238, 174, 87);
  background: radial-gradient(
    circle,
    rgba(238, 174, 87, 1) 3%,
    rgba(221, 131, 12, 1) 100%
  );
}

.image-shell {
  display: flex;
  align-items: center;
  img {
    width: 500px;
  }

  .bg-white {
    background: white;
  }
}

@media screen and (min-width: 608px) {
  .image-shell {
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .image-shell {
    min-height: 1000px !important;
  }
}

@media screen and (min-width: 1024px) {
  .image-shell {
    min-height: 800px !important;
  }
}
