<div class="container-fluid container-app">
  <div class="logo">
    <img [src]="'assets/img/svg/maintenance.svg'" />
  </div>
  <app-card>
    <app-card-body>
      <div id="maintenance" *ngIf="site">
        <div class="text-heading-4 mb-4 mt-4">
          {{ 'Maintenance' | translate }}
        </div>
        <div class="title text-lg mb-4">
          {{ site.maintenanceReason | translate }}
        </div>
        <div class="content text-sm mb-4">
          {{ 'Up Time' | translate }}: <br />
          {{ site.maintenanceDate?.seconds * 1000 | date }}
          <span class="small">
            {{ site.maintenanceDate?.seconds * 1000 | date: 'hh:mm:ss a' }}
          </span>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
