@import "import";
@import "./../../pages/base/base.component.scss";

app-maintenance {
  .container-app {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background: url("/assets/img/bg-yellow-geometric.jpg") no-repeat;
    background-size: cover;
  }

  .logo {
    position: absolute;

    img {
      width: 750px;
    }
  }

  #maintenance {
    min-width: 350px;
    text-align: center;
  }
}
